<!-- <app-navbar></app-navbar>

<div class="col-md-12 offset-md-2">
  <ul class="list-unstyled" *ngxPermissionsOnly="['builder']">
    <div *ngFor="let msg of msgs?.data">
      <li class="media">
        <a routerLink='/profile/{{msg.sci_companySlug}}'>
          <img *ngIf="msg.sci_logoURL" class="d-flex mr-3 align-self-center msgLogo" [src]="storageURL + '/' + msg.sci_logoURL" >
        </a>
        <div class="media-body">
          <h5> <a class="mt-0 mb-1" [routerLink]="['/profile', msg.sci_companySlug]" >{{msg.sci_company}}</a></h5>
          <h6> <a class="mt-0 mb-1" [routerLink]="['/projects', msg.projectID, 'project-details']" >{{msg.projectAddress}} {{msg.projectAddress2}} {{msg.projectCity}}, {{msg.projectProvince}}</a></h6>
          <small>{{msg.created_at | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</small>
          <p class="text-justify align-self-center mt-3 mb-2 pb-0 text-justify" [ngStyle]="{'font-weight': msg.read == 0 ? 'bold' : '' }"
             (click)="onClickMessage(msg)">{{msg.message}}</p>
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-success btn-sm" (click)="onClickMessage(msg)">View</button>
          </div>
        </div>
      </li>
      <hr>
      <div *ngIf="msgs?.next_page_url" class="card-footer d-flex justify-content-center pr-md-1 pr-md-1">
        <div class="row">
          <div class="col-xs-4 col-4 col-md-4">
            <pagination [boundaryLinks]="true"
                        [totalItems]="totalItems"
                        [(ngModel)]="currentPage"
                        [itemsPerPage]="1"
                        [maxSize]="maxSize"
                        (pageChanged)="onPageChanged($event)"
                        class="pagination-sm"
                        previousText="&lsaquo;"
                        nextText="&rsaquo;"
                        firstText="&laquo;"
                        lastText="&raquo;"
            >
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </ul>
  <ul class="list-unstyled" *ngxPermissionsOnly="['subcontractor']">
    <div *ngFor="let msg of msgs?.data">
      <li class="media">
        <a routerLink='/profile/{{msg.bci_companySlug}}'>
          <img *ngIf="msg.bci_logoURL" class="d-flex mr-3 align-self-center msgLogo" [src]="storageURL + '/' + msg.bci_logoURL" >
        </a>
        <div class="media-body">
          <h5> <a class="mt-0 mb-1" [routerLink]="['/profile', msg.bci_companySlug]" >{{msg.bci_company}}</a></h5>
          <h6> <a class="mt-0 mb-1">{{msg.projectAddress}} {{msg.projectAddress2}} {{msg.projectCity}}, {{msg.projectProvince}}</a></h6>
          <small>{{msg.created_at | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</small>
          <p class="text-justify align-self-center mt-3 mb-2 pb-0 text-justify" [ngStyle]="{'font-weight': msg.read == 0 ? 'bold' : '' }"
              (click)="onClickMessage(msg)">{{msg.message}}
          </p>
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-success btn-sm" (click)="onClickMessage(msg)">View</button>
          </div>
        </div>
      </li>
      <hr>
      <div *ngIf="msgs?.next_page_url" class="card-footer d-flex justify-content-center pr-md-1 pr-md-1">
        <div class="row">
          <div class="col-xs-4 col-4 col-md-4">
            <pagination [boundaryLinks]="true"
                        [totalItems]="totalItems"
                        [(ngModel)]="currentPage"
                        [itemsPerPage]="1"
                        [maxSize]="maxSize"
                        (pageChanged)="onPageChanged($event)"
                        class="pagination-sm"
                        previousText="&lsaquo;"
                        nextText="&rsaquo;"
                        firstText="&laquo;"
                        lastText="&raquo;"
            >
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div> -->
