<div class="row pl-md-4 pr-md-4 mt-5">
  <div class="card h-100 mb-0">
    <div class="card-block ">
      <div class="col-md-12 p-0">
        <ol class="breadcrumb mt-1 ">
          <li class="breadcrumb-item active">
            <strong>Projects</strong>
          </li>
          <li class="breadcrumb-item active">
            <a [routerLink]="['../', 'project-details']">{{projectData?.address}} {{projectData?.address2 ? projectData?.address2 : ''}}</a>
          </li>
          <li class="breadcrumb-item last-breadcrumb">
            <a>Suppliers</a>
          </li>
        </ol>
        <hr>
        <div class="pb-0 ml-3 ">
          <h3 class="text-title color-green">Suppliers</h3>
          <small class="text-muted text-justify">
            Here you can find Subcontractors to work on your project. You may find subcontractors through the home builders guide or by viewing all trades. The home building guide is a step by step process for building a basic home, designed to help the project manager stay organized and focused on the project.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pl-md-4 pr-md-4 mt-2">
  <div class="card h-100" style="width: 100%">
    <div class="card-block ">
      <tabset type="pills justify-content-center">
        <tab heading="Home Builders Guide">
          <ng-container *ngTemplateOutlet="homeBuildersGuide"></ng-container>
        </tab>
        <tab heading="All Trades">
          <ng-template *ngTemplateOutlet="subcontractors"></ng-template>
        </tab>
      </tabset>


      <ng-template #subcontractors>
        <div class="col-xs-12 col-md-12">
          <div class="box">
            <ul class="list-unstyled-flex">
              <div *ngFor="let sc of scs?.data">
                <li>
                  <a [routerLink]="['view', sc.id]">
                    {{sc.tradeName}}
                  </a>
                </li>
              </div>

              <!-- <div *ngFor="let sc of scs?.data">
                <li class="media my-4">
                  <a [routerLink]="['view', sc.id]">
                    <img class="d-flex mr-3 align-self-center imgLogo" [src]="storageURL + sc.imageURL" width="180" height="150">
                  </a>
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">{{sc.tradeName}}</h5>
                    <p class="text-justify align-self-center">
                      {{sc.description}}
                    </p>
                  </div>
                </li>
                <hr/>
              </div> -->
            </ul>
          </div>
        </div>

        <!--<div class="row">-->
        <!--<ng-container *ngFor="let sc of scs?.data">-->
        <!--<div class="col-md-12">-->
        <!--<div class="card h-100">-->
        <!--<div class="card-block">-->
        <!--<h4 class="card-title center"></h4>-->
        <!--<div class="col-md-9">-->

        <!--<div class="row">-->
        <!--<img class="d-flex mr-3 imgLogo float-left" [src]="storageURL + sc.imageURL" width="180" height="150">-->
        <!--<h4>{{}}</h4>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</ng-container>-->
        <!--</div>-->
      </ng-template>



      <ng-template #homeBuildersGuide>

        <div class="row">
          <div class="col-xs-12 col-md-12">
            <ul class="list-unstyled align-content-center">
              <div *ngFor="let step of hbg">
                <li class="media my-4">
                  <div class="d-flex align-self-center mr-3 nums2">
                    {{step.stepNum}}
                  </div>
                  <!--<a [routerLink]="['../', step.sctID]">
              <img class="d-flex mr-3 align-self-center" [src]=""
                   alt="Generic placeholder image">
            </a>-->
                  <div class="media-body">
                    <h5>
                      <a class="mt-0 mb-1" [routerLink]="['view', step.sctID]">{{step.stepName}}</a>
                    </h5>
                    <p class="text-justify align-self-center">
                      {{step.stepDescription}}
                    </p>
                  </div>
                </li>
                <hr/>
              </div>
            </ul>
          </div>
        </div>

      </ng-template>
    </div>
  </div>
</div>
