.thumbnail img {

  padding-right:15px;
}

.textRight {

  text-align : right;
}


/* Added some padding to make it more readable */

div[class^="col-"] {
  padding:40px;
}

.imgLogo {
  width: 180px !important;
  height: 150px !important;
  max-width: 180px !important;
  max-height: 150vmin !important;
}

.box{
  padding: 2.5%;
  border: 1px solid black;
  border-radius: 12px;
}

.list-unstyled-flex {
  padding-left: 0;
  margin: 0 auto;
  list-style: none;
  height: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.nums {

  font-size: 3em;
  font-weight: bold;
  color: #464646;

}

.nums2 {
  display: inline;
  background-color:  #57b436 !important;
  padding: 0.5em 1em;
  box-decoration-break: clone;
  font-size: 2em;
}

@media (min-width: 576px) {
  .circle {
    background:#57b436 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin:5px;
    overflow:hidden;
    padding:25px;
    position:relative;
  }
  .text{
    transform:translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .circle {
    background:#57b436 !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin:5px;
    overflow:hidden;
    padding:25px;
    position:relative;
  }
  .text{
    transform:translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
    font-size: 2em;
  }
}

@media (min-width: 992px) {
  .circle {
    background:#57b436 !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin:5px;
    overflow:hidden;
    padding:25px;
    position:relative;
  }
  .text{
    transform:translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
    font-size: 3em;
  }
}

@media (min-width: 1200px) {

}
