<!-- <ng-container *ngIf="viewProject">
  <div class="row pl-md-4 pr-md-4 mt-5">
    <div class="col-md-12">
      <div class="card h-100 mb-0">
        <div class="card-block ">
          <ol class="breadcrumb mt-1 ">
            <li class="breadcrumb-item active">
              <strong>Projects</strong>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="['../../', 'project-details']">{{accounting?.data[0]?.projectAddress}} {{accounting?.data[0]?.projectAddress2 ? accounting?.data[0]?.projectAddress2
                : ''}}Details</a>
            </li>
            <li class="breadcrumb-item">
              <a>Accounting</a>
            </li>
          </ol>
          <hr>
          <div class="pb-0 ml-3 ">
            <h3 class="text-title color-green">Accounting</h3>
            <small class="text-muted text-justify">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec felis ut nunc finibus fringilla pulvinar a tortor. Nam
              feugiat, lacus viverra bibendum interdum, turpis leo vulputate ante, vitae fringilla erat nisi in nisl. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="row pl-md-4 pr-md-4 mt-2">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4" *ngxPermissionsOnly="['builder']">
        <ng-container *ngTemplateOutlet="builderAccountingSidePanel">
        </ng-container>
      </div>
      <div class="col-md-8 pl-md-4" *ngxPermissionsOnly="['builder']">
      <ng-container *ngIf="viewProject; then builderAccounting else builderAccountingAll;">
      <ng-container *ngTemplateOutlet="builderAccounting;">
        </ng-container>
      </div>
      <div class="col-md-4" *ngxPermissionsOnly="['subcontractor']">
        <ng-container *ngTemplateOutlet="scAccountingSidePanel;">
        </ng-container>
      </div>
      <div class="col-md-8" *ngxPermissionsOnly="['subcontractor']">
        <ng-container *ngIf="viewProject; then scAccounting else scAccountingAll;"></ng-container>
        <ng-container *ngTemplateOutlet="scAccounting"></ng-container>
      </div>
    </div>

  </div>
</div>

<ng-template #builderAccountingSidePanel>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Accounting</h4>
      <div class="center">
        <div class="btn-group-lg text-align:center; pr-3 pl-3">
          <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onGetAccounting('ap')">Accounts Payable</button>
          <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onGetAccountingReport()">Reports</button>
          <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onGetAccountingReport('all')">All Invoices</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #builderAccounting>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">{{title}}</h4>
      <div class="mt-5 pt-3" *ngIf="!accounting?.data[0]">
        <alert type="danger">No Accounting Information found</alert> -->
        <!--<button type="button" class="btn btn-block btn-outline-success mr-1" [routerLink]="['../../', projectID ? projectID : accountingIn[0]?.projectID,'subcontractors']">View Subcontractors</button>-->
      <!-- </div>
      <div *ngIf="viewReport">
        <p> Total Balance For All Projects: {{accounting.totalBalanceOwedForAllProjects | currency : 'CAD' : true : '1.2'}} </p>
        <p>Total Remaining: {{accounting.totalBalanceRemainingForAllProjects | currency : 'CAD' : true : '1.2' }}</p>
        <p>Total Paid: {{accounting.totalBalancePaidForAllProjects | currency : 'CAD' : true : '1.2' }}</p>
      </div>
      <ul class="list-unstyled mt-3">
        <div *ngFor="let ac of accounting?.data;" class="mt-3">
          <li class="media">
            <a [routerLink]="['/profile', ac.sci_companySlug]">
              <img class="d-flex mr-3 align-self-center" src="http://placehold.it/180x150/456" alt="Generic placeholder image">
            </a>
            <div class="media-body">
              <a class="mt-0 mb-2" [routerLink]="['/projects', ac.projectID, 'project-details']">
                <small class="h6">{{ac.projectAddress}} {{ac.projectAddress2}} {{ac.projectCity}}, {{ac.projectProvince}}</small>
              </a>
              <small class="text-justify align-self-center">
                <h6 class="pt-2">
                  <a class="mb-1" [routerLink]="['/profile', ac.sci_companySlug]">{{ac.sci_company}}</a>
                </h6>
                {{ac.sci_address}} {{ac.sci_address2}} {{ac.sci_city}}
                <br/> {{ac.sci_phoneNumber}}
                <br/>
              </small>
              <small *ngIf="viewReport" class="text-justify align-self-center pt-1">
                Total Balance: {{ac.totalBalanceOwedForProject | currency : 'CAD' : true : '1.2'}} Total Paid: {{ac.totalBalancePaidForProject
                | currency : 'CAD' : true : '1.2'}} Total Remaining: {{ac.totalBalanceRemainingForProject | currency : 'CAD'
                : true : '1.2' }}
                <br/> {{ac.sci_phoneNumber}}
              </small>
              <div class="btn-toolbar btn-block mt-3">
                <button *ngIf="viewProject" type="button" class="btn btn-outline-success mr-1" [routerLink]="['../', ac.accountingID, 'invoice']">View Invoice</button>
                <button *ngIf="viewAll" type="button" class="btn btn-outline-success mr-1" [routerLink]="['../../projects', ac.projectID , 'accounting', ac.accountingID, 'invoice']">View Invoice</button>
                <button type="button" class="btn btn-outline-success mr-1" [routerLink]="['/projects', ac.projectID , 'chat', ac.chatUUID]">Message</button>
              </div>
            </div>
          </li>
          <hr>
        </div>
      </ul>
    </div>
    <div *ngIf="accounting?.next_page_url || accounting?.prev_page_url" class="card-footer d-flex justify-content-center pr-md-1 pr-md-1">
      <div class="row">
        <div class="col-xs-8 col-8 col-md-8">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="1" [maxSize]="maxSize"
            (pageChanged)="onAccountingPageChanged($event)" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
            firstText="&laquo;" lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #builderAccountingSidePanelAll>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Accounting</h4>
      <div class="center">
        <div class="btn-group-lg text-align:center; pr-3 pl-3">
          <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onGetAccounting('ar')">Accounts Receivable</button>
          <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onGetAccountingReport('all')">All Invoices</button>

        </div>
      </div>
    </div>
  </div>
</ng-template> -->

<!--<ng-template #builderAccountingAll>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Accounting For All Projects</h4>
      <div class="mt-5 pt-3" *ngIf="!accounting?.data.length">
        <alert type="danger">No Accounting Information found</alert>
        &lt;!&ndash;<button type="button" class="btn btn-block btn-outline-success mr-1" [routerLink]="['../../', projectID ? projectID : accountingIn[0]?.projectID,'subcontractors']">View Subcontractors</button>&ndash;&gt;
      </div>
      <ul class="list-unstyled">
        <div *ngFor="let ac of accounting?.data;" class="mt-3">
          <li class="media">
            <a [routerLink]="['/subcontractors', scTradeID, 'profile', ac.scID ? ac.scID : 0]">
              <img class="d-flex mr-3 align-self-center" src="http://placehold.it/180x150/456"
                   alt="Generic placeholder image">
            </a>
            <div class="media-body">
              <h5 class="mt-0 mb-2">{{ac.sci_company}}</h5>
              <small class="text-justify align-self-center pt-1">
                {{ac.sci_address}} {{ac.sci_address2}} {{ac.sci_city}}
                <br />
                {{ac.sci_phoneNumber}}
              </small>
              <div class="btn-toolbar btn-block mt-3">
                <button type="button" class="btn btn-outline-success mr-1" [routerLink]="['../', ac.accountingID, 'invoice']">View Invoice</button>
              </div>
            </div>
          </li>
          <hr>
        </div>
      </ul>
    </div>
  </div>
</ng-template>-->
<!--



<ng-template #scAccountingSidePanel>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Accounting</h4>
      <div class="center">
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onGetAccounting('ar')">Accounts Payable</button>
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onGetAccountingReport()">Reports</button>
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onGetAccountingReport('all')">All Invoices</button>

      </div>
    </div>
  </div>
</ng-template>

<ng-template #scAccounting>
  <div class="card h-100 pr-md-4">
    <div class="card-block">
      <h4 class="card-title center">{{title}}</h4>
      <div class="mt-5 pt-3" *ngIf="!accounting?.data[0]">
        <alert type="danger">No Accounting Information found</alert> -->
        <!--<button type="button" class="btn btn-block btn-outline-success mr-1" [routerLink]="['../../', projectID ? projectID : accountingIn[0]?.projectID,'subcontractors']">View Subcontractors</button>-->
      <!-- </div>
      <div *ngIf="viewReport">
        <p> Total Balance For All Projects: {{accounting.totalBalanceOwedForAllProjects | currency : 'CAD' : true : '1.2'}} </p>
        <p>Total Remaining: {{accounting.totalBalanceRemainingForAllProjects | currency : 'CAD' : true : '1.2' }}</p>
        <p>Total Paid: {{accounting.totalBalancePaidForAllProjects | currency : 'CAD' : true : '1.2' }}</p>
      </div>
      <ul class="list-unstyled mt-3">
        <div *ngFor="let ac of accounting?.data;" class="mt-3">
          <li class="media">
            <a [routerLink]="['/profile', ac.bci_companySlug]">
              <img class="d-flex mr-3 align-self-center" src="http://placehold.it/180x150/456" alt="Generic placeholder image">
            </a>
            <div class="media-body">
              <a class="mt-0 mb-2" [routerLink]="['/projects', ac.projectID, 'project-details']">
                <small class="h6">{{ac.projectAddress}} {{ac.projectAddress2}} {{ac.projectCity}}, {{ac.projectProvince}}</small>
              </a>
              <small class="text-justify align-self-center pt-1">
                <h6 class=" m-0 mt-2 p-0">
                  <a [routerLink]="['/profile', ac.bci_companySlug]">{{ac.bci_company}}</a>
                </h6>
                {{ac.bci_address}} {{ac.bci_address2}} {{ac.bci_city}}
                <br/> {{ac.bci_phoneNumber}}
                <br/>
              </small>
              <small *ngIf="viewReport" class="text-justify align-self-center pt-1">
                Total Balance: {{ac.totalBalanceOwedForProject | currency : 'CAD' : true : '1.2'}} Total Paid: {{ac.totalBalancePaidForProject
                | currency : 'CAD' : true : '1.2'}} Total Remaining: {{ac.totalBalanceRemainingForProject | currency : 'CAD'
                : true : '1.2' }}
                <br/> {{ac.sci_phoneNumber}}
              </small>
              <div class="btn-toolbar btn-block mt-3">
                <button *ngIf="viewProject" type="button" class="btn btn-outline-success mr-1" [routerLink]="['../', ac.accountingID, 'invoice']">View Invoice</button>
                <button *ngIf="viewAll" type="button" class="btn btn-outline-success mr-1" [routerLink]="['../../projects', ac.projectID , 'accounting', ac.accountingID, 'invoice']">View Invoice</button>
                <button type="button" class="btn btn-outline-success mr-1" [routerLink]="['/projects', ac.projectID , 'chat', ac.chatUUID]">Message</button>

              </div>
            </div>
          </li>
          <hr>
        </div>
      </ul>
    </div>
    <div *ngIf="accounting?.next_page_url || accounting?.prev_page_url" class="card-footer d-flex justify-content-center pr-md-1 pr-md-1">
      <div class="row">
        <div class="col-xs-8 col-8 col-md-8">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="1" [maxSize]="maxSize"
            (pageChanged)="onAccountingPageChanged($event)" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
            firstText="&laquo;" lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->

<!--<ng-template #scAccountingSidePanelAll>-->
<!--<div class="card">-->
<!--<div class="card-block">-->
<!--<h4 class="card-title center">Accounting</h4>-->
<!--<div class="center">-->
<!--<button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('new')">Recent Payments Made</button>-->
<!--<button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('accepted')">Outstanding Invoices</button>-->
<!--<button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('rejected')">All Accounting In</button>-->
<!--<button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('all-in')">All Accounting Out</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</ng-template>-->

<!--<ng-template #scAccountingAll>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Accounting For All Projects</h4>
    </div>
    <div class="card-block">


    </div>
  </div>
</ng-template>-->
