<div class="authentication ">
  <div class="sign-in-2 ">
    <div class="container-fluid no-pdd-horizon bg" style="background-image: url('assets/images/others/img-30.jpg')">
      <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
          <div class="row">
            <div class="mr-auto ml-auto full-height height-100">
              <div class="vertical-align full-height">
                <div class="table-cell">
                  <div class="card mt-4">
                    <div class="card-body">
                      <div class="pdd-horizon-30 pdd-vertical-30">
                        <div class="mrg-btm-30">
                          <img class="img-responsive inline-block" src="assets/images/logo-new.jpg" alt="">
                        </div>

                        <form [formGroup]="registerForm" class="ng-pristine ng-valid" (ngSubmit)="onSubmit(registerForm)">

                          <alert type="danger" *ngIf="submitAttempt && registerForm.invalid" style="color: #ea6153;">Please fill out all details accurately
                          </alert>
                          <div>
                            <alert>Registation Page is Currently Under Construction. Please <a href="mailto:admin@bcbuilder.ca">email us</a> for more information</alert>
                          </div>
                          <div class="form-group ">
                            <label for="userType">User Type</label>
                            <select #ut class="form-control" id="userType" name="userType" formControlName="userType" (change)="onUserTypeChange(ut.value)"
                              tabindex="1">
                              <option value="builder">Builder</option>
                              <option value="subcontractor">Subcontractor</option>
                            </select>
                          </div>
                          <div *ngIf="registerForm.controls.userType.invalid && submitAttempt" class="validation">
                            <p>Please select a User Type</p>
                          </div>

                          <div *ngIf="ut.value === 'subcontractor'" class="form-group">
                            <label for="trade">Trade</label>
                            <select class="form-control" id="trade" formControlName="trade" tabindex="2">
                              <!--<option value="tile">Tile</option>-->
                              <!--<option value="floor">Floor</option>-->
                              <option *ngFor="let sc of scs; trackBy: sc?.id;" [value]="sc.id">{{sc.tradeName}}</option>
                            </select>
                          </div>
                          <div *ngIf="tradeRequired && submitAttempt" class="validation">
                            <p>You must select a Trade</p>
                          </div>

                          <div class="form-group">
                            <input type="email" name="email" id="email" formControlName="email" class="form-control input-lg" placeholder="Email Address"
                              tabindex="3">
                          </div>
                          <div *ngIf="registerForm.controls.email.invalid && submitAttempt" class="validation">
                            <p>Enter a valid email</p>
                          </div>

                          <div class="form-group">
                            <input type="password" name="password" id="password" formControlName="password" class="form-control input-lg" placeholder="Password"
                              tabindex="4">
                            <small id="passwordHelpInline" class="text-muted">
                              Must be 8-20 characters long with 1 uppercase letter, 1 number, and 1 special character ($@$!%*#?&)
                            </small>
                          </div>
                          <div *ngIf="registerForm.controls.password.invalid && submitAttempt" class="validation">
                            <p>Enter a valid Password</p>
                          </div>

                          <div class="form-group">
                            <input type="password" name="password_confirmation" formControlName="password_confirmation" id="password_confirmation" class="form-control input-lg"
                              placeholder="Confirm Password" tabindex="5">
                          </div>
                          <div *ngIf="(registerForm.controls.password_confirmation.invalid && submitAttempt) || (registerForm.controls.password_confirmation.invalid && registerForm.controls.password_confirmation.dirty)"
                            class="validation">
                            <p>Passwords do not match</p>
                          </div>
                          <br/>
                          <h6>Business Information</h6>
                          <hr/>
                          <div class="form-group">
                            <input type="text" name="company" id="company" formControlName="company" class="form-control input-lg" placeholder="Company Name"
                              tabindex="6">
                          </div>
                          <div *ngIf="registerForm.controls.company.invalid && submitAttempt" class="validation">
                            <p>Enter a valid Company Name</p>
                          </div>

                          <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group">
                                <input type="text" name="address" id="address" formControlName="address" class="form-control input-lg" placeholder="Address"
                                  tabindex="7">
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group">
                                <input type="text" name="address2" id="address2" formControlName="address2" class="form-control input-lg" placeholder="Address line two"
                                  tabindex="8">
                              </div>
                            </div>
                          </div>
                          <div *ngIf="registerForm.controls.address.invalid && submitAttempt" class="validation">
                            <p>Enter a valid Address</p>
                          </div>
                          <div *ngIf="registerForm.controls.address2.invalid && submitAttempt" class="validation">
                            <p>Enter a valid Address 2</p>
                          </div>

                          <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                              <div class="form-group">
                                <input type="text" name="city" id="city" formControlName="city" class="form-control input-lg" placeholder="City" tabindex="9">
                              </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                              <div class="form-group">
                                <input type="text" name="postalCode" id="postalCode" formControlName="postalCode" class="form-control input-lg" placeholder="Postal Code"
                                  tabindex="10" [textMask]="{mask: masks.postalCode}">
                              </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                              <div class="form-group">
                                <input type="text" name="province" id="province" formControlName="province" class="form-control input-lg" placeholder="Province"
                                  readonly>
                              </div>
                            </div>
                          </div>
                          <div *ngIf="registerForm.controls.city.invalid && submitAttempt" class="validation">
                            <p>Enter a valid City</p>
                          </div>
                          <div *ngIf="registerForm.controls.postalCode.invalid && submitAttempt" class="validation">
                            <p>Enter a valid Postal Code</p>
                          </div>
                          <div *ngIf="registerForm.controls.province.invalid && submitAttempt" class="validation">
                            <p>Enter a valid Province</p>
                          </div>

                          <div class="form-group">
                            <input type="text" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber" class="form-control input-lg" placeholder="Business Phone Number"
                              tabindex="11" [textMask]="{mask: masks.phoneNumber}">
                          </div>
                          <div *ngIf="registerForm.controls.phoneNumber.invalid && submitAttempt" class="validation">
                            <p>Enter a valid Phone Number</p>
                          </div>
                          <br/>
                          <h6>Company Contacts Information</h6>
                          <hr/>
                          <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group">
                                <input type="text" name="contactFirstName" id="contactFirstName" formControlName="contactFirstName" class="form-control input-lg"
                                  placeholder="First Name" tabindex="12">
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group">
                                <input type="text" name="contactLastName" id="contactLastName" formControlName="contactLastName" class="form-control input-lg"
                                  placeholder="Last Name" tabindex="13">
                              </div>
                            </div>
                          </div>
                          <div *ngIf="registerForm.controls.contactFirstName.invalid && submitAttempt" class="validation">
                            <p>Enter a valid First name</p>
                          </div>
                          <div *ngIf="registerForm.controls.contactLastName.invalid && submitAttempt" class="validation">
                            <p>Enter a valid Last name</p>
                          </div>
                          <div class="form-group">
                            <input type="text" name="phoneNumber2" id="phoneNumber2" formControlName="phoneNumber2" class="form-control input-lg" placeholder="Contacts Phone Number"
                              tabindex="14" [textMask]="{mask: masks.phoneNumber}">
                          </div>
                          <div *ngIf="registerForm.controls.phoneNumber2.invalid && submitAttempt" class="validation">
                            <p>Enter a valid Phone Number</p>
                          </div>
                          <hr/>
                          <div class="row float-right">
                            <div class="col-md-12">
                              <input type="submit" value="Register" class="btn btn-block btn-outline-success btn-lg">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
