:host /deep/ .nav-pills > li.active > a {
  background-color: transparent;
  color: #5cb85c !important;
  -webkit-box-shadow: 0 0 0 2px #5cb85c;
  box-shadow: 0 0 0 2px #5cb85c;
  border-color: #5cb85c !important;

}

:host /deep/ .nav-pills li > a  {
  background-color: transparent;
  color: #5cb85c !important;
}

:host /deep/ .visit-btn {
  width: 120px !important;
}


.row{
  overflow: scroll;
}


div > .col-3 {
  margin-left: 0;
  padding: 0;
}

/* .nav-pills li > a.active.nav-link{
    border-color: #5cb85c !important;
}

.nav-pills > li > a.active{
    border-color: #5cb85c !important;
} */
