<div class="row pl-md-4 pr-md-4 mt-5">
  <div class="col-md-12">
    <div class="card h-100 mb-0">
      <div class="card-block ">
        <ol class="breadcrumb mt-1 ">
          <li class="breadcrumb-item active">
            <a routerLink="/dashboard">Project</a>
          </li>
          <li class="breadcrumb-item active">
            <!-- <a [routerLink]="['../../', 'project-details']">{{projectData?.address}} {{projectData?.address2 ? projectData?.address2 : ''}}Details</a> -->
            Details
          </li>
          <li class="breadcrumb-item breadcrumb-last">
            <a>Bids</a>
          </li>
        </ol>
        <hr>
        <div class="pb-0 ml-3 ">
          <h3 class="text-title color-green">Bids</h3>
          <small class="text-muted text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec felis ut nunc finibus fringilla pulvinar a tortor. Nam
            feugiat, lacus viverra bibendum interdum, turpis leo vulputate ante, vitae fringilla erat nisi in nisl. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row pl-md-4 pr-md-4 mt-5">
  <div class="col-5">
    <div class="card h-100">
      <div class="card-block">
        <h4 class="card-title center">Bids Filter</h4>
        <hr/>
        <div class="center">
          <div class="btn-group-lg text-align:center; pr-3 pl-3">
            <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeSCT('All')">
              All Bids
            </button>
          </div>
          <div class="btn-group-lg text-align:center; pr-3 pl-3" *ngFor="let sp of gabbp; let i = index">
            <button type="button" class="btn btn-outline-success btn-lg btn-block" (click)="onChangeSCT(i)">
              {{sp[0].subproject.hbg.stepName}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="card h-100 ">
      <div class="card-block">
        <h4 class="card-title center">Bids for {{title}}</h4>
        <hr/>
        <tabset #staticTabs type="pills justify-content-center">
          <tab heading="Accepted Bids">
            <ng-container *ngTemplateOutlet="acceptedBidsTemplate;">
            </ng-container>
          </tab>
          <tab heading="Bids In">
            <ng-container *ngTemplateOutlet="inBidsTemplate;">
            </ng-container>
          </tab>
          <tab heading="Bids Out">
            <ng-container *ngTemplateOutlet="outBidsTemplate;">
            </ng-container>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<ng-template #acceptedBidsTemplate>
  <div *ngFor="let bid of filteredList">
    <div class="card mt-1" *ngIf="bid.status === 'accepted'">
      <div class="card-block">
        <div class="row">
          <div class="col-3">
            <a *ngIf="bid.subcontractor.company_info" [routerLink]="['/profile', bid.subcontractor.company_info.companySlug]">
              <img class="d-flex mr-3 align-self-center logopic padding-left" [src]="storageURL + bid.subcontractor.company_info.logoURL"
                width="100" height="100">
            </a>
          </div>
          <div class="col-6 text-left">
            <h4 *ngIf="bid.subproject.hbg">
              {{bid.subproject.hbg.stepName}}
            </h4>
            <h5 class="mt-0" *ngIf="bid.subcontractor.company_info">
              <a [routerLink]="['/profile', bid.subcontractor.company_info.companySlug]">{{bid.subcontractor.company_info.company}}</a>
            </h5>
            <!-- <span>Reviews:</span>
          <span>Overall Positive</span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span> -->
            <p *ngIf="bid.subcontractor.profile">
              {{bid.subcontractor.profile.aboutUs}}
              <br />
            </p>
          </div>
          <div class="col-3 border-left">
            <ul class="nav nav-stacked" *ngIf="bid.subcontractor.profile">
              <li>
                <button class="btn btn-md btn-success visit-btn" (click)="onGotoWebsite(bid.subcontractor.profile.website)">Visit Website</button>
              </li>
              <li>
                <button class="btn btn-md btn-success visit-btn" [routerLink]="[ '/profile', bid.subcontractor.company_info.companySlug]">View Profile</button>
              </li>
              <li>
                <button class="btn btn-md btn-success visit-btn" [routerLink]="[bid.subproject.id, bid.id, 'invoice']">View Offer</button>
              </li>
            </ul>
          </div>
          <!-- <div class="col-12">
            <div class="text-center">
              <input type="button" class="btn btn-outline-success" value="Accept" (click)="accept(bid)">
              <input type="button" class="btn btn-outline-success" value="Renegotiate" (click)="renegotiate(bid)">
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #inBidsTemplate>
  <div *ngFor="let bid of filteredList">
    <div class="card mt-1" *ngIf="bid.is_bid_out == 0 && bid.status !== 'accepted'">
      <div class="card-block">
        <div class="row">
          <div class="col-3">
            <a *ngIf="bid.subcontractor.company_info" [routerLink]="['/profile', bid.subcontractor.company_info.companySlug]">
              <img class="d-flex mr-3 align-self-center logopic padding-left" [src]="storageURL + bid.subcontractor.company_info.logoURL"
                width="100" height="100">
            </a>
          </div>
          <div class="col-6 text-left">
            <h4 *ngIf="bid.subproject.hbg">
              {{bid.subproject.hbg.stepName}}
            </h4>
            <h5 class="mt-0" *ngIf="bid.subcontractor.company_info">
              <a [routerLink]="['/profile', bid.subcontractor.company_info.companySlug]">{{bid.subcontractor.company_info.company}}</a>
            </h5>
            <!-- <span>Reviews:</span>
            <span>Overall Positive</span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span> -->
            <p *ngIf="bid.subcontractor.profile">
              {{bid.subcontractor.profile.aboutUs}}
              <br />
            </p>
          </div>
          <div class="col-3 border-left">
            <ul class="nav nav-stacked" *ngIf="bid.subcontractor.profile">
              <li>
                <button class="btn btn-md btn-success visit-btn" (click)="onGotoWebsite(bid.subcontractor.profile.website)">Visit Website</button>
              </li>
              <li>
                <button class="btn btn-md btn-success visit-btn" [routerLink]="[ '/profile', bid.subcontractor.company_info.companySlug]">View Profile</button>
              </li>
              <li>
                <button class="btn btn-md btn-success visit-btn" [routerLink]="[ bid.subproject.id, bid.id ,'invoice']">View Offer</button>
              </li>
            </ul>
          </div>
          <!-- <div class="col-12">
            <div class="text-center">
              <input type="button" class="btn btn-outline-success" value="Accept" (click)="accept(bid)">
              <input type="button" class="btn btn-outline-success" value="Renegotiate" (click)="renegotiate(bid)">
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #outBidsTemplate>
  <div *ngFor="let bid of filteredList">
    <div class="card mt-1" *ngIf="bid.is_bid_out == 1  && bid.status !== 'accepted'">
      <div class="card-block">
        <div class="row">
          <div class="col-3">
            <a *ngIf="bid.subcontractor.company_info" [routerLink]="['/profile', bid.subcontractor.company_info.companySlug]">
              <img class="d-flex mr-3 align-self-center logopic padding-left" [src]="storageURL + bid.subcontractor.company_info.logoURL"
                width="100" height="100">
            </a>
          </div>
          <div class="col-6 text-left">
            <h4 *ngIf="bid.subproject.hbg">
              {{bid.subproject.hbg.stepName}}
            </h4>
            <h5 class="mt-0" *ngIf="bid.subcontractor.company_info">
              <a [routerLink]="['/profile', bid.subcontractor.company_info.companySlug]">{{bid.subcontractor.company_info.company}}</a>
            </h5>
            <!-- <span>Reviews:</span>
                <span>Overall Positive</span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span> -->
            <p *ngIf="bid.subcontractor.profile">
              {{bid.subcontractor.profile.aboutUs}}
              <br />
            </p>
          </div>
          <div class="col-3 border-left">
            <ul class="nav nav-stacked" *ngIf="bid.subcontractor.profile">
              <li>
                <button class="btn btn-md btn-success visit-btn" (click)="onGotoWebsite(bid.subcontractor.profile.website)">Visit Website</button>
              </li>
              <li>
                <button class="btn btn-md btn-success visit-btn" [routerLink]="[ '/profile', bid.subcontractor.company_info.companySlug]">View Profile</button>
              </li>
              <li>
                <button class="btn btn-md btn-success visit-btn" [routerLink]="[bid.subproject.id, bid.id , 'invoice']">View Offer</button>
              </li>
            </ul>
          </div>
          <!-- <div class="col-12">
            <div class="text-center">
              <input type="button" class="btn btn-outline-success" value="Accept" (click)="accept(bid)">
              <input type="button" class="btn btn-outline-success" value="Renegotiate" (click)="renegotiate(bid)">
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>
