<div class="map">
  <ngui-map [options]="mapConfig">
    <marker *ngFor="let project of othersSubProjectsMarkers" [position]="project.address + ' ' + project.city + ', ' + project.province + ' ' + project.postalCode"
      (click)="displayLabel($event, project)" [icon]="normalIcon"></marker>
    <marker *ngFor="let project of mysubProjectMarkers" [position]="project.address + ' ' + project.city + ', ' + project.province + ' ' + project.postalCode"
      (click)="displayLabel($event, project)" [icon]="greenIcon"></marker>
    <marker *ngFor="let project of mineProjectMarkers" [position]="project.address + ' ' + project.city + ', ' + project.province + ', Canada'"
      (click)="displayEmptySubprojectLabel($event, project)" [icon]="greenIcon"></marker>
    <marker *ngFor="let project of othersProjectMarkers" [position]="project.address + ' ' + project.city + ', ' + project.province + ', Canada'"
      (click)="displayEmptySubprojectLabel($event, project)" [icon]="normalIcon"></marker>
    <info-window id="iw">
      <div *ngIf="clickedSubProjects">
        <div *ngFor="let subproject of clickedSubProjects; let i = index" class='subproject-detail mt-2'>
          <div style="width:100%;">
            <h4 class='mb-1 subpro-hbg-title' style="width:90%;float:left;overflow: hidden;text-overflow: ellipsis;">
              {{ subproject.hbg.stepName }}
            </h4>
            <div *ngIf="subproject.bid" class="pull-right" style="width:10%">
              <i class="fa fa-check-circle pull-right"></i>
            </div>
          </div>
          <span class='subpro-address'>
            {{subproject.project.address + ' ' + subproject.project.city + ', ' + subproject.project.province + ' ' + subproject.project.postalCode}}
          </span>
          <br>
          <a class="pull-right mt-1 mb-1 subpro-link" (click)='showSubproject(subproject, modalProjectInformation)'> Go to Sub Project Detail</a>
          <hr class='m-0 p-0 mb-1' />
        </div>
      </div>
    </info-window>
    <info-window id="iwForEmptySubProject">
      <div *ngIf="clickedProjectMarker">
        <p class="mb-1">{{ clickedProjectMarker.address + ' ' + clickedProjectMarker.city + ', ' + clickedProjectMarker.province + ' ' +
          clickedProjectMarker.postalCode }}
        </p>
        <!-- <a *ngIf="!clickedProjectMarker.isOther" class="pull-right" [routerLink]="['/', 'projects', clickedProjectMarker.id, 'project-details']" style="color: #0c7bbe; cursor:pointer">
          Go to Project Detail</a> -->
        <!-- <a *ngIf="clickedProjectMarker.isOther" class="pull-right" (click)="displayEmptySubProjectInformation(modalEmptySubProjectInformation)" style="color: #0c7bbe; cursor:pointer">
            View Project Information</a> -->
        <a class="pull-right" (click)="displayEmptySubProjectInformation(modalEmptySubProjectInformation)" style="color: #0c7bbe; cursor:pointer">
          View Project Information</a>
      </div>
    </info-window>
  </ngui-map>
</div>

<ng-template #modalProjectInformation>
  <div class="w-100">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Project Information</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card" *ngIf='clickedSubProject'>
        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title">Contact Information</h4>
            </div>
            <div class="col-md-6">
              <input type="button" *ngIf="clickedSubProjects.fromRedMarker" value="View Profile" class="btn btn-outline-info btn-sm pull-right"
                [routerLink]="['/profile', clickedSubProject.project.builder.company_info.companySlug]" (click)="close()">
              <input type="button" *ngIf="!clickedSubProjects.fromRedMarker" value="View Profile" class="btn btn-outline-info btn-sm pull-right"
                [routerLink]="['/profile']" (click)="close()">
            </div>
          </div>
          <hr class="mb-1 mt-0" />
          <p class="card-text mb-0">{{clickedSubProject.project.builder.company_info.company}}</p>
          <!-- <p class="card-text mb-0">{{clickedProjectMarker.phoneNumber}}</p>
          <p class="card-text mb-0">{{clickedProjectMarker?.phoneNumber2}}</p> -->
          <br/>
          <h4 class="card-title">Project Information</h4>
          <hr class="mb-1 mt-0" />
          <p class="card-text mb-0">{{clickedSubProject.project.address}} {{clickedSubProject.project?.address2}}</p>
          <p class="card-text"> {{clickedSubProject.project.city}}, {{clickedSubProject.project.province}} {{clickedSubProject.project.postalCode}}</p>
          <p class="card-text mb-0">
            <b>Land Size:</b> {{clickedSubProject.project.lotSize}}</p>
          <p class="card-text mb-0">
            <b>Building Size:</b> {{clickedSubProject.project.buildingSize}}</p>
          <p class="card-text mb-0">
            <b>Number of Units:</b> {{clickedSubProject.project.numUnits}} </p>
          <p class="card-text mb-0">
            <b>Zoning:</b> {{clickedSubProject.project.zoning}}</p>
          <p class="card-text mb-0">
            <b>Proposed Use:</b> {{clickedSubProject.project.landType}}</p>
          <br/>
          <h4 class="card-title">Subproject Information</h4>
          <hr class="mb-1 mt-0" />
          <p class="card-text mb-0">
            <b>Description:</b>
            <br>{{clickedSubProject.description}}</p>
          <p class="card-text mb-0">
            <b>Home Builders Guide:</b> {{clickedSubProject.hbg.stepName}}</p>
          <hr class="mb-2 mt-1" />
          <div class="row float-right mt-2" *ngIf="!clickedSubProjects.fromRedMarker">
            <div class="col-md-12">
              <a class="pull-right" [routerLink]="['/', 'projects', clickedSubProject.project_id, 'project-details']" style="color: #0c7bbe; cursor:pointer"
                (click)="close()">
                Go to Project Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalEmptySubProjectInformation>
  <div class="w-100">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Project Information</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card" *ngIf='clickedProjectMarker'>
        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title">Contact Information</h4>
            </div>
            <div class="col-md-6">
              <input type="button" *ngIf="clickedProjectMarker.isOther" value="View Profile" class="btn btn-outline-info btn-sm pull-right"
                [routerLink]="['/profile', clickedProjectMarker.builder.company_info.companySlug]" (click)="close()">
              <input type="button" *ngIf="!clickedProjectMarker.isOther" value="View Profile" class="btn btn-outline-info btn-sm pull-right"
                [routerLink]="['/profile']" (click)="close()">
            </div>
          </div>
          <hr class="mb-1 mt-0" />
          <p class="card-text mb-0">{{clickedProjectMarker.builder.company_info.company}}</p>
          <!-- <p class="card-text mb-0">{{clickedProjectMarker.phoneNumber}}</p>
            <p class="card-text mb-0">{{clickedProjectMarker?.phoneNumber2}}</p> -->
          <br/>
          <h4 class="card-title">Project Information</h4>
          <hr class="mb-1 mt-0" />
          <p class="card-text mb-0">{{clickedProjectMarker.address}} {{clickedProjectMarker?.address2}}</p>
          <p class="card-text"> {{clickedProjectMarker.city}}, {{clickedProjectMarker.province}} {{clickedProjectMarker.postalCode}}</p>
          <p class="card-text mb-0">
            <b>Land Size:</b> {{clickedProjectMarker.lotSize}}</p>
          <p class="card-text mb-0">
            <b>Building Size:</b> {{clickedProjectMarker.buildingSize}}</p>
          <p class="card-text mb-0">
            <b>Number of Units:</b> {{clickedProjectMarker.numUnits}} </p>
          <p class="card-text mb-0">
            <b>Zoning:</b> {{clickedProjectMarker.zoning}}</p>
          <p class="card-text mb-0">
            <b>Proposed Use:</b> {{clickedProjectMarker.landType}}</p>
          <br/>          
          <div class="row float-right mt-2" *ngIf="!clickedProjectMarker.isOther">
            <div class="col-md-12">
              <a class="pull-right" [routerLink]="['/', 'projects', clickedProjectMarker.id, 'project-details']" style="color: #0c7bbe; cursor:pointer"
                (click)="close()">
                Go to Project Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>