<!-- <div class="row mt-3">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <ng-container *ngTemplateOutlet="subcontractorsTemplate;">
        </ng-container>
      </div>

      <div class="col-md-8">
        <ng-container *ngTemplateOutlet="bidsTemplate;">
        </ng-container>
      </div>
    </div>

  </div>
</div>

<ng-template #subcontractorsTemplate>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Subcontractors</h4>
    </div>
    <div class="center">
      <div class="btn-group-lg text-align:center; pr-3 pl-3" *ngFor="let sc of scs?.data;">
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block"
                (click)="onChangeSCT(sc.id)">
          {{sc.tradeName}}
        </button>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-center pr-md-1 pr-md-1">
      <div class="row">
        <div class="col-xs-4 col-4 col-md-4">
          <pagination [boundaryLinks]="true"
                      [totalItems]="totalItems"
                      [(ngModel)]="currentPage"
                      [itemsPerPage]="1"
                      [maxSize]="maxSize"
                      (pageChanged)="onPageChanged($event)"
                      class="pagination-sm"
                      previousText="&lsaquo;"
                      nextText="&rsaquo;"
                      firstText="&laquo;"
                      lastText="&raquo;"
          >
          </pagination>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #bidsTemplate>
  <div class="card h-100">
    <div class="card-block">
      <tabset type="pills justify-content-center">
        <tab heading="Bids In" (select)="onBidChange('in')">
          hi
        </tab>
        <tab heading="Bids Out" (select)="onBidChange('out')">
          <ul class="list-unstyled">
            <div *ngFor="let bid of bidsOut; let i = index;" class="mt-3">
              <li class="media">
                <a [routerLink]="['/subcontractors', scTradeID, 'profile', bid.scID]">
                  <img class="d-flex mr-3 align-self-center" src="http://placehold.it/180x150/456"
                       alt="Generic placeholder image">
                </a>
                <div class="media-body">
                  <h5 class="mt-0 mb-2">{{bid.company}}</h5>
                  <small class="text-justify align-self-center pt-1">
                    {{bid.address}} {{bid.address2}} {{bid.city}}
                    <br />
                    {{bid.phoneNumber}}
                  </small>
                  <div class="btn-toolbar btn-block mt-3">
                    <button type="button" class="btn btn-outline-success" (click)="onViewBidDetails(bid)">View Bid Details</button>

                    <!--<div *ngIf="bidForm;then bidExists else noBidForm">here is ignored</div>
                    <ng-template #bidExists>
                      <button type="button" class="btn btn-outline-success" (click)="onSendBidToSC(sc.scID)">Send Bid</button>
                    </ng-template>
                    <ng-template #noBidForm>
                      <button type="button" class="btn btn-outline-success" (click)="onCreateNewBid()">Create Bid</button>
                    </ng-template>-->
                  </div>
                </div>
              </li>
              <hr>
            </div>
          </ul>
        </tab>
      </tabset>
    </div>
  </div>
</ng-template> -->
