<div class="top-nav"></div>


<div class="row mt-2">
  <div class="card-group w-100">
    <div class="col-md-4 mr-md-0 pl-md-4">
      <div class="card h-100 ">
        <div class="card-block ">
          <div class="hidden-md-up">
            <h4 class="card-title center">Projects</h4>
            <hr/>
          </div>
          <div class="center">
            <div class="mb-1"></div>
            <div class="text-center mt-2 mb-2">
              <h6 class="card-subtitle mb-2 text-muted lead">Active</h6>
              <hr/>
              <ng-container *ngxPermissionsOnly="['builder']">
                <ng-container *ngIf="!hasProjects">
                  <br/>
                  <small [style.color]="'red'">You don't currently have any projects. Click below to start one now!</small>
                  <br/>
                  <br/>
                  <button type="button" class="btn btn-outline-success btn-sm" (click)="openNewProjectModal()">Start New Project</button>
                  <br/>
                  <br/>
                </ng-container>
              </ng-container>

            </div>
            <div class="btn-group-lg pr-3 pl-3" *ngFor="let project of projects?.data;">
              <ng-container *ngIf="project.userID == profileInfo.userID">
                <button type="button" class="btn btn-outline-success btn-lg btn-block dashboardButtons" [routerLink]="['/', 'projects', project.id, 'project-details']"
                  (click)="onGotoProject(project)">
                  {{project.address}}
                </button>
              </ng-container>
            </div>
          </div>
          <div class="center">
            <div class="mb-1"></div>
            <div class="text-center mt-2 mb-2">
              <h6 class="card-subtitle mb-2 text-muted lead">Warranty</h6>
              <hr/>
              <ng-container *ngxPermissionsOnly="['builder']">
                <button type="button" class="btn btn-outline-success btn-lg btn-block dashboardButtons" (click)="openNewProjectModal()">Start New Project</button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden-md-up">
      <br/>
    </div>
    <div class="col-md-8">
      <div class="card h-100">
        <div class="card-block">
          <div class="hidden-md-up">
            <h4 class="card-title center">Dashboard</h4>
            <hr/>
          </div>

          <ng-container *ngIf="!nots">
            <alert class="align-self-center" type="danger">You don't currently have any notifications</alert>
          </ng-container>

          <div class=" mt-lg-2" *ngFor="let not of (nots | keyObjectArrayPipe)">
            <ng-container *ngFor="let data of not.data">
              <h6 class="card-subtitle mb-2 text-muted lead">{{not.address}}</h6>
              <div class="">
                <div class="row">
                  <ng-container *ngxPermissionsOnly="['builder']">
                    <ng-container *ngIf="!hasProjects">
                      <br/>
                      <small class="mx-auto my-auto" [style.color]="'red'">You don't currently have notifications. Click on the button above to start a project now</small>
                      <br/>
                      <!--<button type="button" class="btn btn-outlizne-success btn-lg mx-auto" (click)="openNewProjectModal()">Start New Project</button>-->
                    </ng-container>
                  </ng-container>
                  <ng-container *ngxPermissionsOnly="['subcontractor']">
                    <ng-container *ngIf="!hasProjects && !hasNots">
                      <br/>
                      <small class="mx-auto" [style.color]="'red'">You don't currently have any notifications. You will see notifications appear here once a builder accepts
                        your bid</small>
                      <br/>
                      <br/>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewMessageNotification'">
                    <div class="col-md-6">
                      <div class="list-group-item">
                        <span class="list-group-item justify-content-between mb-2" [routerLink]="['/projects', data.data.projectID, 'bids']" [queryParams]="{ tab: 'new-bbo' }"
                          skipLocationChange>
                          You have New Quotes
                          <span class="badge badge-default badge-pill float-right">{{data.count ? data.count + 1: '1'}}</span>
                        </span>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewSCBONotification'">
                    <div class="col-md-6">
                      <div class="list-group-item  justify-content-between mb-2" [routerLink]="['/projects', data.data.projectID, 'bids']" [queryParams]="{ tab: 'new-bbo' }"
                        skipLocationChange>
                        You have New Quotes
                        <span class="badge badge-default badge-pill float-right my-auto">{{data.count ? data.count + 1: '1'}}</span>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewBBONotification'">
                    <div class="col-md-6">
                      <div class="list-group-item  justify-content-between mb-2" [routerLink]="['/bids', 'all']" skipLocationChange>
                        You have New Bids
                        <span class="badge badge-default badge-pill float-right my-auto">{{data.count ? data.count + 1: '1'}}</span>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="data.type == 'App\\Notifications\\BuilderAcceptedBidNotification'">
                    <div class="col-md-6">
                      <div class="list-group-item  justify-content-between mb-2" [routerLink]="['/bids', 'all']" [queryParams]="{ tab: 'builder-accepted' }"
                        skipLocationChange>
                        Accepted Bids
                        <span class="badge badge-default badge-pill float-right my-auto">{{data.count ? data.count + 1: '1'}}</span>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="data.type == 'NoNotifications'">
                    <div class="col-md-6">
                      <div class="list-group-item  justify-content-between mb-2">
                        You have no new Notifications
                      </div>
                    </div>
                  </ng-container>

                </div>
              </div>
              <hr/>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>