<app-navbar></app-navbar>

<div class="col-md-12">
  <div class="row">
    <div class="main">
      <h3>Update your Password</h3>
      <hr/>
      <alert type="danger" *ngIf="submitAttempt && resetPasswordForm.invalid" style="color: #ea6153;">Please fill out all
        details accurately
      </alert>
      <form class="form-group" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email">

        <div *ngIf="resetPasswordForm.controls.email.invalid && submitAttempt" class="validation">
          <p>Please enter a valid Email</p>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-outline-success btn-lg">
            Submit
          </button>
        </div>
      </form>

    </div>

  </div>
</div>
