<!--

<div class="padding-top-menu"></div>
<div class="col-md-12">
  <div class="card">
    <div class="card-block">
      <div class="row">
        <ol class="breadcrumb mt-1">
          <li class="breadcrumb-item active">
            <strong>Projects</strong>
          </li>
          <li class="breadcrumb-item active">
            <a [routerLink]="['../../../', 'project-details']">{{projectData?.address}} {{projectData?.address2 ? projectData?.address2 : ''}}</a>
          </li>
          <li class="breadcrumb-item active">
            <a [routerLink]="['../../']">Subcontractors</a>
          </li>
          <li class="breadcrumb-item active">Bids</li>
        </ol>
      </div>
      <hr />
      <ng-container *ngFor="let name of hbg">
        <ng-container *ngIf="name.sctID == scTradeID">
          <h4>Bids from {{name.stepName}}s</h4>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <ng-container *ngFor="let bid of gbbs;">
        <div class="row" *ngIf="bid.subcontractor">
          <div class="col-2">
            <a *ngIf="bid.subcontractor.company_info" [routerLink]="['/profile', bid.subcontractor.company_info.companySlug]">
              <img class="d-flex mr-3 align-self-center logopic padding-left" [src]="storageURL + bid.subcontractor.company_info.logoURL"
                width="100" height="100">
            </a>
          </div>
          <div class="col-8 text-left">
            <h5 class="mt-0" *ngIf="bid.subcontractor.company_info">
              <a [routerLink]="['/profile']">{{bid.subcontractor.company_info.company}}</a>
            </h5>
            <span>Reviews:</span>
            <span>Overall Positive</span>
            <!-- <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span> -->
            <p *ngIf="bid.subcontractor.profile">
              {{bid.subcontractor.profile.aboutUs}}
              <br />
            </p>
          </div>
          <div class="col-2 border-left">
            <ul class="nav nav-stacked" *ngIf="bid.subcontractor.profile">
              <li>
                <a class="btn btn-md btn-success" (click)="onGotoWebsite(bid.subcontractor.profile.website)">Visit Website</a>
              </li>
              <li>
                <a class="btn btn-md btn-success" (click)="onGotoWebsite(bid.subcontractor.profile.website)">View Profile</a>
              </li>
              <li>
                <a class="btn btn-md btn-success" [routerLink]="['invoice']">View Offer</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row padding-top-10 align-items-center">
          <div class="col-2" *ngIf="bid.subcontractor">
            <address *ngIf="bid.subcontractor.company_info">
              {{bid.subcontractor.company_info.address}}
              <br/>
              <ng-container *ngIf="bid.subcontractor.company_info.address2"> {{bid.subcontractor.company_info.address2}}
                <br/>
              </ng-container>
              {{bid.subcontractor.company_info.city}}, {{bid.subcontractor.company_info.province}}
              <span class="postal-code">{{bid.subcontractor.company_info.postalCode}}</span>
              <br/> {{bid.subcontractor.company_info.phoneNumber}}
            </address>
          </div>
          <div class="col-8 text-left border-left">
            <h5>Subcontractor's Comments</h5>
            <p> {{bid.comments}} </p>
          </div>
          <div class="col-2 border-left">
            <h5>Offer Price</h5>
            <p>$ {{bid.amount}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div> -->
