.text-left{
  text-align: left;
}

.padding-top-10{
  padding-top: 10px;
}

.padding-10{
  padding: 10px;
}

.padding-15{
  padding: 15px;
}

.btn-success{
  color: #fff !important;
  width: 80%;
  height: 3em;
}

.nav li {
  width: 100%;
}

.body-view {
  min-height: 100vh;
  border-left: 1px solid #cae0e7;
  border-right: 1px solid #cae0e7;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.padding-top-menu{
  padding-top: 40px;
}

.btnSpace {
  margin-left: 1vmin !important;
  margin-right: 1.5vmin !important;
}


.alertMargin {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.checkboxSendBid {
  text-align: right;
  float: right !important;
}

.li-visit-website {
  margin-top: 0 !important;
  padding-top: 0 !important;
}



.li-chkbox {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.logopic {
  width: 180px !important;
  height: 150px !important;
  max-width: 180px !important;
  max-height: 150vmin !important;
}

.provider-row, .leaders-matrix .provider-row {
  border: 1px solid #cae0e7;
  box-shadow: 0 0 10px 0 rgba(203,225,231,.85);
  margin: 0 -1px 35px;
  position: relative;
  padding: 0 15px;
  background: #fff;
}

.provider-row {
  border: 1px solid #cae0e7;
  box-shadow: 0 0 10px 0 rgba(203,225,231,.85);
  margin: 0 -1px 35px;
  position: relative;
  padding: 0;
  background: #fff;
}

.bordered-right {
  border-right: 1px solid #cae0e7;

}

.bordered-left {
  border-right: 1px solid #cae0e7;
}

.border-bottom-none {
  border-bottom: none;
}
.directory .provider-row .row, .leaders-matrix .provider-row .row {
  height: auto;
}

.fa {
 color: #57b436;
}

ul.nav li.li-link a:hover {
  background-color: transparent;
  color: #57b436 !important;
}

.nav.nav-stacked.nav-right-profile.border-bottom-0 {
  margin-left: -32px;
  border-left: 1px solid #cae0e7;
}

.nav.nav-stacked.nav-right-profile.border-bottom-0 li{
  padding-left: 4px;
  text-align: left;
}

.postal-code{
  text-transform: capitalize;
}


.nav.nav-stacked.nav-right-profile.border-bottom-0 li a{
  color:#28a745;
  margin-right: 10px;
  margin-left: 10%;
  /* overflow: hidden; */
}

.nav.nav-stacked.nav-right-profile.border-bottom-0 li a i{
  float:right;
  margin-left: 10px;

}

.visit-website {
  text-align: center;
  color: #fff !important;
  background-color: #28a745;
  padding: 10px !important;
  border-radius: 4px;

}

.padding-left {
  padding-left: 3%;
}

.provider-info.no-margin {
  position: relative;
  margin-bottom: 0;
}

.provider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}


.provider-link-details .nav-right-profile {
  border-top: 1px solid #cae0e7;
  border-bottom: 3px solid #17313b;
  min-height: 150px;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
}

.nav-right-profile {
  /* margin-right: -15px;
  margin-left: -15px; */
  height: 100%;
}

.border-left {
  border-left: 1px solid #cae0e7;
}

.border-right {
  border-right: 1px solid #cae0e7;
}

.border-none {
  border: none !important;
}

.provider-link-details .nav-right-profile li {
  width: 100%;
  border-bottom: 1px solid #cae0e7;
  border-left: 0;
  line-height: 1.42857143;
}


.provider-link-details .nav-right-profile li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 1px solid #cae0e7;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}



@media(min-width: 992px) {
  .directory .provider-row .row, .leaders-matrix .provider-row .row {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
  }
  .provider-info {
    margin: 15px 0;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding: 0;
  }
  provider-info .provider-info__description {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-order: 1;
  }

  .provider-link-details .nav-right-profile li.website-link-a, .provider-link-details .nav-right-profile li.website-link-b {
    width: 100%;
  }

  .provider-link-details .nav-right-profile li {
    width: 100%;
    border-bottom: 1px solid #cae0e7;
    border-left: 0;
    line-height: 1.42857143;
  }


}

@media(min-width: 768px) {
  .provider-info.no-margin {
    margin-bottom: 20px;
  }
  .provider-info {
    border-top: 1px solid #cae0e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 15px 0 0;
    margin: 0;
  }

  .provider-link-details .nav-right-profile li.website-link-a, .provider-link-details .nav-right-profile li.website-link-b {
    width: 25%;
  }


}
