<div class="row">
  <div class="col-md-9">
    <a [routerLink]="['/dashboard']">
      <img class="logo" src="./assets/images/logo-new.jpg">
    </a>
  </div>
</div>
<div class="navbar-line">
  <a class="loginText float-right pb-0 mb-0" routerLink="/login">Login/Sign Up</a>
  <br class="m-0 p-0"/>
  <hr class="navbar-hr mt-2 pt-0"/>
</div>
<ng-container>
  <div class="mt-2 mb-2">
    <app-alerts></app-alerts>
  </div>
</ng-container>
