<!-- <div bsModal #requestBidModal="bs-modal"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> -->
<div class="modal-dialog w-100 request-bid">
    <div class="w-100">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="debug()"> -->
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-block">
            <h6 class="card-title">Contact Information</h6>
            <hr class="mb-1 mt-0"/>
            <p class="card-text mb-0">{{project.firstName}} {{project.lastName}}</p>
            <p class="card-text mb-0">{{project.phoneNumber}}</p>
            <p class="card-text mb-0">{{project?.phoneNumber2}}</p>
            <br/>
            <hr class="mb-1 mt-1"/>
            <br />
            <h6 class="card-title">Project Information</h6>
            <hr class="mb-1 mt-0"/>
            <p class="card-text mb-0">{{project.address}} {{project?.address2}}</p>
            <p class="card-text"> {{project.city}}, {{project.province}} {{project.postalCode}}</p>
            <p class="card-text mb-0">Land Size: {{project.lotSize}}</p>
            <p class="card-text mb-0">Building Size: {{project.buildingSize}}</p>
            <p class="card-text mb-0">Number of Units: {{project.numUnits}} </p>
            <p class="card-text mb-0">Zoning: {{project.zoning}}</p>
            <p class="card-text mb-0">Proposed Use: {{project.landType}}</p>
            <hr class="mb-1 mt-1"/>
            <h6 class="card-title">Subproject Information</h6>
            <p class="card-text mb-0"> </p>



            <form class="form-group" [formGroup]="newRequestForm" (ngSubmit)="onSubmit(newRequestForm.value)">
              <input  type="number" id="hbg_id" formControlName="hbg_id" [value]="hbg_id" [ngModel]="hbg_id" hidden readonly>
              <input  type="number"  id="project_id" formControlName="project_id" [value]="project_id" [ngModel]="project_id" hidden readonly>
              <input  type="number"  id="is_available" formControlName="is_available" [value]="is_available" [ngModel]="is_available" hidden readonly>
              <input  type="number"  id="id" formControlName="id" [value]="id" [ngModel]="id" hidden readonly>
              <input  type="number"  id="is_filled" formControlName="is_filled" [value]="is_filled" [ngModel]="is_filled" hidden readonly>

              <div class="form-group">
                <label for="description">Description (Required)</label>
                <textarea class="form-control" id="description" rows="3" formControlName="description" [ngModel]="requestForm?.description" ></textarea>
              </div>
              <div class="row float-right mt-2">
                <div class="col-md-12">
                  <input type="submit" value="Submit" class="btn btn-block btn-outline-success btn-lg">
                </div>
              </div>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
