<div class="container-fluid mt-5">
	<div class="container">
		<div class="card">
			<div class="card-block">
				<div class="row">
					<ol class="breadcrumb mt-1">
						<li class="breadcrumb-item active">
							<strong>Projects</strong>
						</li>
						<li class="breadcrumb-item active">
							<a [routerLink]="['../../../../../../', 'project-details']">{{projectData?.address}} {{projectData?.address2 ? projectData?.address2 : ''}}</a>
						</li>
						<li class="breadcrumb-item active">
							<a [routerLink]="['../../../../../']">Subcontractors</a>
						</li>
						<li class="breadcrumb-item">
							<a [routerLink]="['../../']">{{filteredSubproject[0].hbg.stepName}}</a>
						</li>
						<li class="breadcrumb-item last-breadcrumb">
							<a>Bid Request</a>
						</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
				<ul class="list-unstyle list-inline text-right">
					<li class="list-inline-item">
						<a href="" class="btn text-gray text-hover display-block padding-10 no-mrg-btm" onclick="window.print();">
							<i class="ti-printer text-info pdd-right-5"></i>
							<b>Print</b>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="text-gray text-hover display-block padding-10 no-mrg-btm">
							<i class="fa fa-file-pdf-o text-danger pdd-right-5"></i>
							<b>Export PDF</b>
						</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<div class="pdd-horizon-30">
					<div class="mrg-top-15">
						<div class="pull-right">
							<h2>Bid Request for
								<br />{{filteredSubproject[0].hbg.stepName}}</h2>
						</div>
					</div>
					<div class="row mrg-top-20">
						<div class="col-12">
							<div>
								<h3 class="pdd-left-10 mrg-top-10">Request From:</h3>
								<p class="pdd-left-10">
									<b class="text-dark">
										{{ profileInfo.contactFirstName + ' ' + profileInfo.contactLastName }}
										<br /> {{profileInfo.company}}
										<br />
									</b>
									{{profileInfo.address}}
									<br />
									<ng-container *ngIf="profileInfo.address2">
										{{profileInfo.address2}}
										<br />
									</ng-container>
									{{ profileInfo.city }} {{ profileInfo.province }}
									<br /> {{ profileInfo.phoneNumber }}
									<br />
									<ng-container *ngIf="profileInfo.website">
										{{ profileInfo.website }}
										<br />
									</ng-container>
								</p>
								<div class="row pdd-left-10">
									<div class="col-xs-12 col-12 col-md-6 form-group">
										<label>
											<b class="text-dark">Available Period</b>
										</label>
										<input type="text" placeholder="Avilable Period" class="form-control" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-green' }"
										 (bsValueChange)="onPeriodChange($event)" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr />
					<div class="row">
						<h3>Project Info</h3>
					</div>
					<div class="row align-items-center">
						<label for="firstName" class="mb-1 label-name">Name:</label>
						<input type="text" id="firstName" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.firstName + ' ' + projectData.lastName"
						 readonly>
					</div>
					<div class="row">
						<label for="address" class="mb-1 label-name">Address:</label>
						<input type="text" id="address" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.address" readonly>
					</div>
					<div class="row" *ngIf="projectData?.address2">
						<input type="text" id="address2" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.address2" readonly>
					</div>
					<div class="row">
						<label for="address" class="mb-1 label-name">City & Province:</label>
						<input type="text" id="city" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.city + ', ' + projectData.province"
						 readonly>
					</div>
					<div class="row">
						<label for="address" class="mb-1 label-name">Postal Code:</label>
						<input type="text" id="postalCode" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.postalCode" readonly>
					</div>
					<div class="row">
						<label class="mb-1 label-name">Land Type:</label>
						<input type="text" id="lType" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.landType" readonly>
					</div>
					<div class="row">
						<label class="mb-1 label-name">Project Type:</label>
						<input type="text" id="pType" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.projectType" readonly>
					</div>
					<div class="row">
						<label class="label-name">Lot Size:</label>
						<input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.lotSize" readonly>
					</div>
					<div class="row">
						<label class="label-name">Building Size:</label>
						<input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.buildingSize" readonly>
					</div>
					<div class="row">
						<label class="label-name">Num of Units:</label>
						<input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.numUnits" readonly>
					</div>
					<div class="row mrg-top-20">
						<div class="col-md-12">
							<div class="col-md-12">
								<div class="mt-2">
									<form class="form-group" [formGroup]="newRequestForm" (ngSubmit)="onSubmit(newRequestForm.value)">
										<input type="number" id="hbg_id" formControlName="hbg_id" [value]="hbg_id" [ngModel]="hbg_id" hidden readonly>
										<input type="number" id="project_id" formControlName="project_id" [value]="project_id" [ngModel]="project_id" hidden readonly>
										<input type="number" id="is_available" formControlName="is_available" [value]="is_available" [ngModel]="is_available" hidden
										 readonly>
										<input type="number" id="id" formControlName="id" [value]="id" [ngModel]="id" hidden readonly>
										<input type="number" id="is_filled" formControlName="is_filled" [value]="is_filled" [ngModel]="is_filled" hidden readonly>
										<label for="comment">Comments for this subproject</label>
										<textarea class="form-control" formControlName="comments" id="comments" rows="3" [(ngModel)]="filteredSubproject[0].comments"></textarea>
										<br />
										<input type="hidden" formControlName="start_subproject_date" [(ngModel)]="start_subproject_date" readonly>
										<input type="hidden" formControlName="bid_close_date" [(ngModel)]="bid_close_date" readonly>
										<div class="row mb-2 mt-3">
											<div class="text-left">
												<input type="button" class="btn btn-outline-success ml-3" value="Upload Files" (click)="uploadFiles(projectFileUploadModal)">
											</div>
											<table class="table ml-3">
												<thead>
													<tr>
														<th width="50%">Name</th>
														<th>Size</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let item of projectFiles; let i = index">
														<td>
															<strong>{{ item?.name }}</strong>
														</td>
														<td>{{ item?.size/1024/1024 | number:'.2' }} MB</td>
														<td nowrap>
															<button type="button" class="btn btn-danger btn-xs" (click)="removeProjectFile(i)">
																<span class="glyphicon glyphicon-trash"></span> Remove
															</button>
														</td>
													</tr>
													<tr *ngFor="let item of oldProjectFiles; let i = index">
														<td>
															<strong>{{ item?.fileName }}</strong>
														</td>
														<td>{{ item?.fileSize/1024/1024 | number:'.2' }} MB</td>
														<td nowrap>
															<button type="button" class="btn btn-info btn-xs" (click)="viewFile(item)">
																View
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<br />
										<div class="text-center">
											<ng-container *ngIf="filteredSubproject[0].is_available == 0">
												<input type="submit" class="btn btn-outline-success" value="Save">
											</ng-container>
											<ng-container *ngIf="filteredSubproject[0].is_available == 1">
												<input type="submit" class="btn btn-outline-success" value="Update">
											</ng-container>
										</div>
									</form>
								</div>
							</div>
							<div class="row mrg-top-30">
								<div class="col-md-12 mrg-top-10">
									<div class="text-center">
									</div>
								</div>
								<div class="col-md-12">
									<div class="border top bottom pdd-vertical-20">
										<p class="text-opacity">
											<small>
												BC Builder does not ensure all the data is correct. This document is a just an estimate and is not binding in any way.
											</small>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #projectFileUploadModal>
		<div class="modal-header">
			<h4 class="modal-title pull-left">
				<strong>Upload Files</strong>
			</h4>
			<button type="button" class="close pull-right" (click)="closeModal()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<input type="file" #projectUploadInput multiple (change)="addProjectFile($event)" />
			<br/>
			<table class="table">
				<thead>
					<tr>
						<th width="50%">Name</th>
						<th>Size</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of projectFiles; let i = index">
						<td>
							<strong>{{ item?.name }}</strong>
						</td>
						<td>{{ item?.size/1024/1024 | number:'.2' }} MB</td>
						<td nowrap>
							<button type="button" class="btn btn-danger btn-xs" (click)="removeProjectFile(i)">
								<span class="glyphicon glyphicon-trash"></span> Remove
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</ng-template>