<div class="row pl-md-4 pr-md-4 mt-5">
  <div class="col-md-12">
    <div class="card h-100 mb-0">
      <div class="card-block">
        <ol class="breadcrumb mt-1 ">
          <li class="breadcrumb-item active">
            <strong>Projects</strong>
          </li>
          <li class="breadcrumb-item last-breadcrumb">{{projectData.address}} {{projectData.address2 ? projectData.address2 : ''}}</li>
        </ol>
        <hr>
        <div class="pb-0 ml-3">
          <h3 class="breadcrumb-title">Project Files</h3>
          <small class="text-muted text-justify">
            These are the project files for your project. All folders below are saving information regarding this specific project.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="col-md-8 mt-3">
    <h4 class="text-center"> {{projectData.address}} {{projectData.address2 ? projectData.address2 : ''}}</h4>
  </div>-->
<div class="row pl-md-4 pr-md-4 mt-2">
  <div class="col-md-4">
    <div class="card">
      <div class="card-block">
        <h5 class="card-title center" style="text-align: center;">Project Folders</h5>
        <div class="center mr-2 ml-2">
          <div class="btn-group-lg">
            <button *ngxPermissionsOnly="['builder']" type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block"
              [routerLink]="['../', 'subcontractors']">Subcontractors</button>
            <!-- <button *ngxPermissionsOnly="['builder']" type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block"
              [routerLink]="['../', 'subprojects']">Subprojects</button> -->
            <button type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block" [routerLink]="['../', 'suppliers']">Suppliers</button>
            <button type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block" [routerLink]="['../', 'accounting', 'for-project']">Accounting</button>
            <button *ngxPermissionsOnly="['subcontractor']" type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block"
              [routerLink]="['../', 'bids', 'for-project']">Bids</button>
            <button *ngxPermissionsOnly="['subcontractor']" type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block"
              [routerLink]="['../', 'uploads', projectData.bidID]">Uploads</button>
            <button *ngxPermissionsOnly="['builder']" type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block"
              [routerLink]="['../', 'bids']">Bids</button>
            <button *ngxPermissionsOnly="['builder']" type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block"
              [routerLink]="['../', 'uploads']">Uploads</button>
            <button type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block" [routerLink]="['../', 'messages']">Messages</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">

    <!--

  PROJECT DETAILS FORM*********************************************************

-->




    <div class="card h-100">
      <div class="pt-3 pl-3">
        <h5 class="card-title center">Project Details</h5>
      </div>
      <div class="pl-3">

        <!--        <dl class="row">
        <dt class="col-sm-3">Name:</dt>
        <dd class="col-sm-9">{{projectData.firstName}} {{projectData.firstName}}</dd>

        <dt class="col-sm-3">Address:</dt>
        <dd class="col-sm-9">
          <address>
            {{projectData.address}} {{projectData.address2}}<br>
            {{projectData.city}}, {{projectData.province}} {{projectData.postalCode}}<br>
          </address>
        </dd>

        <dt class="col-sm-3">Land Size:</dt>
        <dd class="col-sm-9">{{projectData.lotSize}}</dd>

        <dt class="col-sm-3">Building Size:</dt>
        <dd class="col-sm-9">{{projectData.buildingSize}}</dd>

        <dt class="col-sm-3">Zoning:</dt>
        <dd class="col-sm-9">{{projectData.zoning}}</dd>


        <dt class="col-sm-3">Project Value:</dt>
        <dd class="col-sm-9">{{projectData.buildValue}}</dd>

        <dt class="col-sm-3">Details:</dt>
        <dd class="col-sm-9">{{projectData.details}}</dd>

      </dl>-->

        <div class="form-group col-md-12">
          <label for="firstName"><strong>Name:</strong></label>
          <div class="form-inline">
            <div class="form-group col-md-12 mx-sm-12">
              <input type="text" id="firstName" class="form-control mx-sm-12 col-md-12 grey-bg" [(ngModel)]="projectData.firstName + ' ' + projectData.lastName"
                readonly>
            </div>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="firstName"><strong>Address:</strong></label>
          <div class="form-group col-md-12">
            <input type="text" id="address" class="form-control mx-sm-12" [(ngModel)]="projectData.address + ' ' + projectData.address2"
              readonly>
          </div>
          <div class="form-group col-md-12">
            <input type="text" id="address2" class="form-control mx-sm-12" [(ngModel)]="projectData.postalCode + ' ' + projectData.city + ', ' + projectData.province + ' ' + projectData.country"
              readonly>
          </div>
        </div>

        <!--          <div class="form-inline">
          <div class="form-group col-md-4">
            <input type="text" id="city" class="form-control mx-sm-12" [(ngModel)]="projectData.city" readonly>
          </div>
          <div class="form-group col-md-4">
            <input type="text" id="province" class="form-control mx-sm-12" [(ngModel)]="projectData.province"  readonly>
          </div>
        </div>
      </div>

      <div class="form-inline" style="margin-left: 14px;">
        <div class="form-group col-md-4">
          <input type="text" id="postalCode" class="form-control mx-sm-12" [(ngModel)]="projectData.postalCode" readonly [textMask]="{mask: masks.postalCode}">
        </div>
        <div class="form-group col-md-4">
          <input type="text" id="country" class="form-control mx-sm-12" [(ngModel)]="projectData.country" readonly>
        </div>
      </div>-->

        <!--
      <div class="form-group col-md-12">
        <label for="projectDescription">Project Description:</label>
        <div class="form-group col-md-8">
          <textarea class="form-control" id="projectDescription" [(ngModel)]="projectData.description" readonly></textarea>
        </div>
      </div>
      -->

        <div class="form-group col-md-12">
          <label><strong>Land Type:</strong></label>
          <div class="form-group col-md-12">
            <input type="text" id="city" class="form-control mx-sm-6 ml-6" [(ngModel)]="projectData.landType" readonly>
          </div>

          <label class="mb-1"><strong>Project Type:</strong></label>
          <div class="form-group col-md-12">
            <input type="text" id="province" class="form-control mx-sm-6 ml-6" [(ngModel)]="projectData.projectType" readonly>
          </div>
        </div>


        <!--<div class="form-group col-md-12">
        <label for="firstName">Land Type:</label>
        <div class="form-group col-md-8">
          <input type="text" id="landType" class="form-control mx-sm-12" [(ngModel)]="projectData.landType" readonly>
        </div>
      </div>

      <div class="form-group col-md-12">
        <label for="firstName">Project Type:</label>
        <div class="form-group col-md-8">
          <input type="text" id="projectType" class="form-control mx-sm-12" [(ngModel)]="projectData.projectType" readonly>
        </div>
      </div>-->

          <div class="row pl-4 pr-4">

            <div class="form-group col-md-4">
              <label class=""><strong>Lot Size:</strong></label>
              <input type="text" class="form-control mx-sm-12" [(ngModel)]="projectData.lotSize" readonly>
            </div>

            <div class="form-group col-md-4">
              <label class=""><strong>Building Size:</strong></label>
              <input type="text" class="form-control mx-sm-12" [(ngModel)]="projectData.buildingSize" readonly>
            </div>

            <div class="form-group col-md-4">
              <label class=""><strong>Num of Units:</strong></label>
              <input type="text" class="form-control mx-sm-12" [(ngModel)]="projectData.numUnits" readonly>
            </div>

          </div>

        <!--<div class="form-group col-md-12">
        <label for="lotSize">Lot Size: (sq. ft)</label>
        <div class="form-group col-md-8">
          <input type="text" class="form-control" id="lotSize" [(ngModel)]="projectData.lotSize" readonly>
        </div>
      </div>

      <div class="form-group col-md-12">
        <label for="buildingSize">Building Size: (sq. ft)</label>

        <div class="form-group col-md-8">
          <input type="text" class="form-control" id="buildingSize" [(ngModel)]="projectData.buildingSize" readonly>
        </div>
      </div>-->


        <!--<div class="form-group col-md-12">
        <label for="buildingSize">Number of Units</label>
        <div class="form-group col-md-8">
          <input type="number" class="form-control" [(ngModel)]="projectData.numUnits" readonly >
        </div>
      </div>-->

        <div class="form-group col-md-8">
          <div class="row">
            <div class="form-group col">
              <label class="mb-1"><strong>Zoning:</strong></label>
              <input type="text" class="form-control mx-sm-12" [(ngModel)]="projectData.zoning" readonly>
            </div>

            <div class="form-group col">
              <label class="mb-1"><strong>Build Value:</strong></label>
              <input type="text" class="form-control mx-sm-12" [(ngModel)]="projectData.buildValue" readonly>
            </div>
          </div>
        </div>


        <!--<div class="form-group col-md-12">
        <label for="buildingSize">Zoning</label>
        <div class="form-group col-md-8">
          <input type="number" class="form-control" [(ngModel)]="projectData.zoning" readonly>
        </div>
      </div>

      <div class="form-group col-md-8">
        <label for="firstName">Build Value:</label>
        <div class="form-inline">
          <div class="form-group">
            <input type="text" id="buildValue" class="form-control mx-sm-3" [(ngModel)]="projectData.buildValue" readonly>
          </div>
        </div>
      </div>
-->

        <div class="form-group col-md-12">
          <label for="details" class="form-control-label"><strong>Project Details:</strong></label>
          <div class="form-group">
            <textarea class="form-control" id="details" [(ngModel)]="projectData.details" readonly></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 pl-md-5 ml-md-3">
            <ng-container *ngxPermissionsOnly="['builder']">
              <ng-container *ngFor="let not of (nots | keyObjectArrayPipe)">
                <ng-container *ngFor="let data of not.data">
                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewSCBONotification'">
                    <div class="alert alert-warning row center">
                      <p class="close" data-dismiss="alert">&times;</p>
                      You have {{data.count}} new&nbsp;
                      <a href="#" (click)="$event.preventDefault();" [routerLink]="['../bids']">{{data.count > 1 ? 'Quotes' : 'Quote'}}</a>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewMessageNotification'">
                    <div class="alert alert-warning row center">
                      <p class="close" data-dismiss="alert">&times;</p>
                      You have {{data.count ? data.count : '1'}} unread&nbsp;
                      <a href="#" (click)="$event.preventDefault();" [routerLink]="['../messages']"> {{data.count > 1 || data.count != '' ? 'Messages' : 'Message'}}</a>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngxPermissionsOnly="['subcontractor']">
              <ng-container *ngFor="let not of (nots | keyObjectArrayPipe)">
                <ng-container *ngFor="let data of not.data">
                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewBBONotification'">
                    <div class="alert alert-warning row center">
                      <p class="close" data-dismiss="alert">&times;</p>
                      You have {{data.count ? data.count : '1'}} new&nbsp;
                      <a href="#" (click)="$event.preventDefault();" [routerLink]="['../bids']">{{data.count > 1 || data.count == '' ? 'Bids In' : 'Bid In'}}</a>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewMessageNotification'">
                    <div class="alert alert-warning row center">
                      <p class="close" data-dismiss="alert">&times;</p>
                      You have {{data.count ? data.count : '1'}} unread&nbsp;
                      <a href="#" (click)="$event.preventDefault();" [routerLink]="['../messages']"> {{data.count > 1 || data.count == '' ? 'Messages' : 'Message'}}</a>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>




      </div>
    </div>