<div class="authentication">
  <div class="sign-in-2">
    <div class="container-fluid no-pdd-horizon bg" style="background-image: url('assets/images/others/img-30.jpg')">
      <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
          <div class="row">
            <div class="mr-auto ml-auto full-height height-100">
              <div class="vertical-align full-height">
                <div class="table-cell">
                  <div class="card">
                    <div class="card-body">
                      <div class="pdd-horizon-30 pdd-vertical-30">
                        <div class="mrg-btm-30">
                          <img class="img-responsive inline-block" src="assets/images/logo-new.jpg" alt="">
                          <h2 class="inline-block pull-right no-mrg-vertical pdd-top-15">Login</h2>
                        </div>
                        <p class="mrg-btm-15 font-size-13">Please enter your email to reset your password</p>
                        <form class="ng-pristine ng-valid" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
                          <div class="form-group">
                            <input type="email" id="email" formControlName="email" class="form-control" placeholder="User name">
                          </div>
                          <div class="text-right">
                            <button type="submit" class="btn btn-outline-success btn-lg">
                              Submit
                            </button>
                          </div>
                        </form>
                      </div>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
