<div bsModal #newProjectModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left"><strong>Start a new Project</strong></h4>
      <button type="button" class="close pull-right" (click)="bsModalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Please provide basic information about your new project.
        <br />Project information will be viewed by subcontractors to submit bids</strong></p>
      <form class="form-group" [formGroup]="newProjectForm" (ngSubmit)="onSubmit(newProjectForm.value)">


        <div class="form-group col-md-12">
          <label for="firstName"><strong>Address:</strong></label>
          <div class="form-group col-md-12">
            <input type="text" id="address" class="form-control mx-sm-12" placeholder="Street Address" formControlName="address">
          </div>
          <div *ngIf="newProjectForm.controls.address.invalid && submitAttempt" class="ml-4 validation">
            <p class="alert"><strong>Enter a valid Address</strong></p>
          </div>
          <div class="form-group col-md-12">
            <input type="text" id="address2" class="form-control mx-sm-12" placeholder="Street Address 2" formControlName="address2">
          </div>
          <div *ngIf="newProjectForm.controls.address2.invalid && submitAttempt" class="ml-4 validation">
            <p class="alert"><strong>Enter a valid Address Line Two</strong></p>
          </div>
          <div class="form-inline">
            <div class="form-group col-md-4">
              <input type="text" id="city" class="form-control mx-sm-12" placeholder="City" formControlName="city">
            </div>
            
            <div class="form-group col-md-4">
              <input type="text" id="province" class="form-control mx-sm-12" placeholder="Province" formControlName="province" readonly>
            </div>
          </div>
          <div *ngIf="newProjectForm.controls.city.invalid && submitAttempt" class="ml-4 validation">
            <p class="alert"><strong>Enter a valid City</strong></p>
          </div>
        </div>
        <div class="form-inline" style="margin-left: 14px;">
          <div class="form-group col-md-4">
            <input type="text" id="postalCode" class="form-control mx-sm-12" placeholder="Postal Code" formControlName="postalCode" [textMask]="{mask: masks.postalCode}">
          </div>
          <div class="form-group col-md-4">
            <input type="text" id="country" class="form-control mx-sm-12" placeholder="Country" formControlName="country" readonly>
          </div>
        </div>

        <div *ngIf="newProjectForm.controls.postalCode.invalid && submitAttempt" class="ml-4 validation">
          <p class="alert"><strong>Enter a valid Postal Code</strong></p>
        </div>
        <div *ngIf="newProjectForm.controls.country.invalid && submitAttempt" class="ml-4 validation">
          <p><strong>Enter a valid Country</strong></p>
        </div>
        
        
        <div *ngIf="newProjectForm.controls.province.invalid && submitAttempt" class="ml-4 validation">
          <p><strong>Enter a valid Province</strong></p>
        </div>

        <div class="form-group col-md-12" style="margin-top: 10px !important;">
          <label for="projectType"><strong>Project Type:</strong></label>
          <div class="form-group col-md-12">
            <select id="projectType" name="projectType" class="form-control" formControlName="projectType" required>
              <option value="newBuilding">New Building</option>
              <option value="landlordImprovements">Landlord improvements</option>
              <option value="addition">Addition</option>
              <option value="renovation">Renovation</option>
            </select>
          </div>
        </div>

        <div *ngIf="projectTypeInvalid && submitAttempt" class="ml-4 validation">
          <p class="alert"><strong>Please select a Project Type</strong></p>
        </div>

        <div class="form-group col-md-12" style="margin-top: 10px !important;">
          <label for="landType"><strong>Land Type:</strong></label>
          <div class="form-group col-md-12">
            <select id="landType" name="landType" class="form-control" formControlName="landType" required>
              <option value="residental">Residential</option>
              <option value="commercial">Commercial</option>
              <option value="industrial">Industrial</option>
            </select>
          </div>
        </div>

        <div *ngIf="newProjectForm.controls.landType.invalid && submitAttempt" class="ml-4 validation">
          <p class="alert"><strong>Select a Land Type</strong></p>
        </div>


        <div class="form-group col-md-12" style="margin-top: 10px !important;">
          <label for="firstName"><strong>Building Type:</strong></label>
          <div class="form-group col-md-12">
            <select name="buildingType" class="form-control" formControlName="buildingType" required>
              <option value="Single Family Dwelling">Single Family Dwelling</option>
              <option value="Townhouse">Townhouse</option>
              <option value="Condominium">Condominium</option>
              <option value="Restaurant">Restaurant</option>
              <option value="Retail Store">Retail Store</option>
              <option value="Warehouse">Warehouse</option>
              <option value="Office">Office</option>
            </select>
          </div>
        </div>
        <div *ngIf="buildingTypeInvalid && submitAttempt" class="ml-4 validation">
          <p class="alert"><strong>You must select a Building Type</strong></p>
        </div>



        <!-- Number of Units -->
        <div class="form-group col-md-12">
          <label for="buildingSize"><strong>Number of units</strong></label>
          <div class="form-group col-md-12">
            <input type="number" class="form-control" id="numUnits" formControlName="numUnits">
          </div>
        </div>
        <div *ngIf="newProjectForm.controls.numUnits.invalid && submitAttempt" class="ml-4 validation">
          <p class="alert"><strong>Enter a valid number for Number of units(0-1000)</strong></p>
        </div>



        <!-- Lot Size -->
        <div class="form-group col-md-12">
          <label for="lotSize"><strong>Lot Size: (sq. ft)</strong></label>
          <div class="form-group col-md-12">
            <input type="text" class="form-control" id="lotSize" formControlName="lotSize" [textMask]="{mask: masks.sizeMask}">
          </div>
        </div>
        <div *ngIf="newProjectForm.controls.lotSize.invalid && submitAttempt" class="ml-4 validation">
          <p class="alert"><strong>Enter a valid Lot Size greater than 0</strong></p>
        </div>



        <!-- Building Size -->
        <div class="form-group col-md-12">
          <label for="buildingSize"><strong>Building Size: (sq. ft)</strong></label>
          <div class="form-group col-md-12">
            <input type="text" class="form-control" id="buildingSize" formControlName="buildingSize" [textMask]="{mask: masks.sizeMask}">
          </div>
        </div>
        <div *ngIf="newProjectForm.controls.buildingSize.invalid && submitAttempt" class="ml-4 validation">
          <p class="alert"><strong>Enter a valid Building Size greater than 0</strong></p>
        </div>



        <!-- Zoning -->
        <div class="form-group col-md-12" style="margin-top: 10px !important;">
          <label for="firstName"><strong>Zoning:</strong></label>
          <div class="form-group col-md-12">
            <select name="zoning" class="form-control" formControlName="zoning" required>
              <option value="Unknown">Unknown</option>
              <option value="A-1 - General Agriculture Zone">A-1 - General Agriculture Zone</option>
              <option value="A-2 - Intensive Agriculture Zone">A-2 - Intensive Agriculture Zone</option>
              <option value="RA - One-Acre Residential Zone">RA - One-Acre Residential Zone</option>
              <option value="RA-G - Acreage Residential Gross Density Zone">RA-G - Acreage Residential Gross Density Zone</option>
              <option value="RH - Half-Acre Residential Zone">RH - Half-Acre Residential Zone</option>
              <option value="RH-G - Half-Acre Residential Gross Density Zone">RH-G - Half-Acre Residential Gross Density Zone</option>
              <option value="RC - Cluster Residential Zone">RC - Cluster Residential Zone</option>
              <option value="RF-O - Single Family Residential Oceanfront Zone">RF-O - Single Family Residential Oceanfront Zone</option>
              <option value="RF - Single Family Residential Zone">RF - Single Family Residential Zone</option>
              <option value="RF-SS - Single Family Residential Secondary Suite Zone">RF-SS - Single Family Residential Secondary Suite Zone</option>
              <option value="RF-13 - Single Family Residential (13) Zone">RF-13 - Single Family Residential (13) Zone</option>
              <option value="RF-G - Single Family Residential Gross Density Zone">RF-G - Single Family Residential Gross Density Zone</option>
              <option value="RF-12 - Single Family Residential (12) Zone">RF-12 - Single Family Residential (12) Zone</option>
              <option value="RF-12C - Single Family Residential (12) Coach House Zone">RF-12C - Single Family Residential (12) Coach House Zone</option>
              <option value="RF-10 - Single Family Residential (10) Zone">RF-10 - Single Family Residential (10) Zone</option>
              <option value="RF-10S - Special Single Family Residential (10) Zone">RF-10S - Special Single Family Residential (10) Zone</option>
              <option value="RF-9 - Single Family Residential (9) Zone">RF-9 - Single Family Residential (9) Zone</option>
              <option value="RF-9C - Single Family Resiential (9) Coach House Zone">RF-9C - Single Family Resiential (9) Coach House Zone</option>
              <option value="RF-9S - Special Single Family Residential (9) Zone">RF-9S - Special Single Family Residential (9) Zone</option>
              <option value="RF-SD - Semi-Detached Residential Zone">RF-SD - Semi-Detached Residential Zone</option>
              <option value="RM-D - Duplex Residential Zone">RM-D - Duplex Residential Zone</option>
              <option value="RM-M - Manufactured Home Residential Zone">RM-M - Manufactured Home Residential Zone</option>
              <option value="RM-10 - Multiple Residential 10 Zone">RM-10 - Multiple Residential 10 Zone</option>
              <option value="RM-15 - Multiple Residential 15 Zone 21.1">RM-15 - Multiple Residential 15 Zone 21.1</option>
              <option value="RM-23 - Multiple Residential 23 Zone 21a.1">RM-23 - Multiple Residential 23 Zone 21a.1</option>
              <option value="RM-30 - Multiple Residential 30 Zone 22.1">RM-30 - Multiple Residential 30 Zone 22.1</option>
              <option value="RM-45 - Multiple Residential 45 Zone 23.1">RM-45 - Multiple Residential 45 Zone 23.1</option>
              <option value="RM-70 - Multiple Residential 70 Zone 24.1">RM-70 - Multiple Residential 70 Zone 24.1</option>
              <option value="RM-135 - Multiple Residential 135 Zone 25.1">RM-135 - Multiple Residential 135 Zone 25.1</option>
              <option value="RMC-135 - Multiple Residential Commercial 135 Zone 26.1">RMC-135 - Multiple Residential Commercial 135 Zone 26.1</option>
              <option value="RMC-150 - Multiple Residential Commercial 150 Zone 27.1">RMC-150 - Multiple Residential Commercial 150 Zone 27.1</option>
              <option value="RMS-1 - Special Care Housing 1 Zone 28.1">RMS-1 - Special Care Housing 1 Zone 28.1</option>
              <option value="RMS-1A - Special Care Housing 1A Zone 28a.1">RMS-1A - Special Care Housing 1A Zone 28a.1</option>
              <option value="RMS-2 - Special Care Housing 2 Zone 29.1">RMS-2 - Special Care Housing 2 Zone 29.1</option>
              <option value="PC - Cemetery Zone 30.1">PC - Cemetery Zone 30.1</option>
              <option value="PA-1 - Assembly Hall 1 Zone 31.1">PA-1 - Assembly Hall 1 Zone 31.1</option>
              <option value="PA-2 - Assembly Hall 2 Zone 32.1">PA-2 - Assembly Hall 2 Zone 32.1</option>
              <option value="PI - Institutional Zone 33.1">PI - Institutional Zone 33.1</option>
              <option value="C-4 - Local Commercial Zone 34.1">C-4 - Local Commercial Zone 34.1</option>
              <option value="C-5 - Neighbourhood Commercial Zone 35.1">C-5 - Neighbourhood Commercial Zone 35.1</option>
              <option value="C-8 - Community Commercial Zone 36.1">C-8 - Community Commercial Zone 36.1</option>
              <option value="C-8A - Community Commercial A Zone 36a.1">C-8A - Community Commercial A Zone 36a.1</option>
              <option value="C-8B - Community Commercial B Zone 36b.1">C-8B - Community Commercial B Zone 36b.1</option>
              <option value="C-15 - Town Centre Commercial Zone 37.1">C-15 - Town Centre Commercial Zone 37.1</option>
              <option value="C-35 - Downtown Commercial Zone 38.1">C-35 - Downtown Commercial Zone 38.1</option>
              <option value="CHI - Highway Commercial Industrial Zone 39.1">CHI - Highway Commercial Industrial Zone 39.1</option>
              <option value="CG-1 - Self-Service Gasoline Station Zone 40.1">CG-1 - Self-Service Gasoline Station Zone 40.1</option>
              <option value="CG-2 - Combined Service Gasoline Station Zone 41.1">CG-2 - Combined Service Gasoline Station Zone 41.1</option>
              <option value="CTA - Tourist Accommodation Zone 42.1">CTA - Tourist Accommodation Zone 42.1</option>
              <option value="CCR - Child Care Zone 43.1">CCR - Child Care Zone 43.1</option>
              <option value="CPR - Commercial Recreation Zone 44.1">CPR - Commercial Recreation Zone 44.1</option>
              <option value="CPG - Golf Course Zone 45.1">CPG - Golf Course Zone 45.1</option>
              <option value="CPM - Marina Zone 46.1">CPM - Marina Zone 46.1</option>
              <option value="IB - Business Park Zone 47.1">IB - Business Park Zone 47.1</option>
              <option value="IB-1 - Business Park 1 Zone 47a.1">IB-1 - Business Park 1 Zone 47a.1</option>
              <option value="IB-2 - Business Park 2 Zone 47b.1">IB-2 - Business Park 2 Zone 47b.1</option>
              <option value="IB-3 - Business Park 3 Zone 47c.1">IB-3 - Business Park 3 Zone 47c.1</option>
              <option value="IL - Light Impact Industrial Zone 48.1">IL - Light Impact Industrial Zone 48.1</option>
              <option value="IL-1 - Light Impact Industrial 1 Zone 48a.1">IL-1 - Light Impact Industrial 1 Zone 48a.1</option>
              <option value="IH - High Impact Industrial Zone 49.1">IH - High Impact Industrial Zone 49.1</option>
              <option value="IA - Agro-Industrial Zone 51.1">IA - Agro-Industrial Zone 51.1</option>
              <option value="CD - Comprehensive Development Zone 52.1">CD - Comprehensive Development Zone 52.1</option>
            </select>
          </div>
        </div>
        <div *ngIf="zoningInvalid && submitAttempt" class="ml-4 validation">
          <p class="alert">You must select a Zoning Type</p>
        </div>




        <!-- REMOVE ME : Project Description -->
        <div class="form-group col-md-12 hidden">
          <label for="lotSize"><strong>Project Description:</strong></label>
          <div class="form-group col-md-12">
            <textarea class="form-control" id="projectDescription" formControlName="description"></textarea>
          </div>
        </div>

        <div *ngIf="newProjectForm.controls.description.invalid && submitAttempt" class="ml-4 validation">
          <p>Enter a valid Description</p>
        </div>


        <!-- Build Value -->
        <div class="form-group col-md-12">
          <label for="firstName"><strong>Build Value:</strong></label>
          <div class="form-group col-md-12">
            <input type="text" id="buildValue" class="form-control" placeholder="Build Value" formControlName="buildValue" [textMask]="{mask: masks.buildValue, modelClean: true}">
          </div>
        </div>

        <!-- Project Details -->
        <div class="form-group col-md-12">
          <label for="details" class="form-control-label"><strong>Project Details:</strong></label>
          <div class="form-group col-md-12">
            <textarea class="form-control" id="details" formControlName="details"></textarea>
          </div>
        </div>

        <div class="hl">&nbsp;</div>

        <div class="form-group col-md-12">
          <label for="firstName"><strong>Project Manager Contact Information:</strong></label>
          <div class="form-inline">
            <div class="form-group">
              <input type="text" id="firstName" class="form-control mx-sm-3" placeholder="First Name" formControlName="firstName">
              <input type="text" id="lastName" class="form-control mx-sm-3" placeholder="Last Name" formControlName="lastName">
            </div>
          </div>
        </div>
        <div *ngIf="newProjectForm.controls.firstName.invalid && submitAttempt" class="ml-4 validation">
          <p class="alert"><strong>Enter a valid First Name</strong></p>
        </div>
        <div *ngIf="newProjectForm.controls.lastName.invalid && submitAttempt" class="ml-4 validation">
          <p class="alert"><strong>Enter a valid Last Name</strong></p>
        </div>

        <div *ngIf="newProjectForm.controls.details.invalid && submitAttempt" class="ml-4 validation">
          <p>Enter a valid Project Details</p>
        </div>

        <div class="form-group col-md-12">
          <strong>* Please upload Architectural and Structural Engineering Drawings</strong>
          <br><br>
          <label for="uploadProject" class="form-control-label">Upload Project Files:</label>
          <input type="file" #projectUploadInput multiple (change)="addProjectFile($event)" />
          <br/>
          <div class="form-group">
            <ng-container *ngTemplateOutlet="projectFileUploadTemplate;">
            </ng-container>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>

          <button type="submit" class="btn btn-outline-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #projectFileUploadTemplate>
  <table class="table">
    <thead>
      <tr>
        <th width="50%">Name</th>
        <th>Size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projectFiles; let i = index">
        <td>
          <strong>{{ item?.name }}</strong>
        </td>
        <td>{{ item?.size/1024/1024 | number:'.2' }} MB</td>
        <td nowrap>
          <button type="button" class="btn btn-danger btn-xs" (click)="removeProjectFile(i)">
            <span class="glyphicon glyphicon-trash"></span> Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>