.listItemLink {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.listItemLink:hover {
  text-decoration:none;
}

.listItemLink:visited {
  color: purple;
}

.deleteButton {
  cursor: default;
  text-decoration:none !important;
  font-size: 1px;
  color: white;
}
