<!-- <div bsModal #newBidModal="bs-modal"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog w-100">
    <div class="w-100">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-block">
            <h6 class="card-title">Contact Information</h6>
            <hr class="mb-1 mt-0"/>
            <p class="card-text mb-0">{{project.firstName}} {{project.lastName}}</p>
            <p class="card-text mb-0">{{project.phoneNumber}}</p>
            <p class="card-text mb-0">{{project?.phoneNumber2}}</p>
            <br/>
            <h6 class="card-title">Project Information</h6>
            <hr class="mb-1 mt-0"/>
            <p class="card-text mb-0">{{project.address}} {{project?.address2}}</p>
            <p class="card-text"> {{project.city}}, {{project.province}} {{project.postalCode}}</p>
            <p class="card-text mb-0">Land Size: {{project.lotSize}}</p>
            <p class="card-text mb-0">Building Size: {{project.buildingSize}}</p>
            <p class="card-text mb-0">Number of Units: {{project.numUnits}} </p>
            <p class="card-text mb-0">Zoning: {{project.zoning}}</p>
            <p class="card-text mb-0">Proposed Use: {{project.landType}}</p>
            <hr class="mb-1 mt-1"/>

            <form class="form-group" [formGroup]="newBidForm" (ngSubmit)="onSubmit(newBidForm.value)">
              <input  type="number" id="scTradeID" formControlName="scTradeID" [value]="scTradeID" [ngModel]="scTradeID" hidden readonly>
              <input  type="text"  id="formType" formControlName="formType" [value]="formType" [ngModel]="formType" hidden readonly>
              <input  type="number"  id="bidID" formControlName="bidID" [value]="bidForm?.id" [ngModel]="bidForm?.id" hidden readonly>
              <input  type="number"  id="projectID" formControlName="projectID" [value]="bidForm?.projectID" [ngModel]="bidForm?.projectID" hidden readonly>

              <div *ngIf="filesArray?.length > 0;then filesExist else noFilesExist"></div>
              <ng-template #filesExist>
                <div class="form-group" *ngIf="currentNumUploads <= MAX_UPLOADS && formType !== 'viewBid'">
                  <label for="file">Attach Files: (max of 10 files)</label>
                  <div>
                    <label class="custom-file">
                      <input type="file" id="file" class="custom-file-input" (change)="editFileSelected($event, filesArray)">
                      <span class="custom-file-control"></span>
                    </label>
                  </div>
                </div>

                <div>
                  <h6>Files Uploaded</h6>
                  <ul class="list-group">
                    <li class="list-group-item mt-0 mb-0 pb-1 pt-1 justify-content-between listItemLink" *ngFor="let file of filesArray; let i = index;" >
                    <a (click)="onViewFile(file)">{{file.fileName}} </a>
                      <span class="pull-right button-group" (click)="deleteUploadedFile(i, file.id, file.fileName, filesArray)">
                        <ng-template #deleteTooltip>Delete {{file.fileName}}</ng-template>
                        <button *ngxPermissionsOnly="['builder']"  type="button" class="btn btn-danger btn-xs fa fa-trash"></button>
                    </span>

                    </li>
                    <!--<li *ngFor="let file of filesArray; let i = index;" class="list-group-item mt-0 mb-0 pb-1 pt-1 justify-content-between listItemLink" (click)="onViewFile(file)">{{i+1}}. {{file.fileName}}
                      <ng-template #deleteTooltip>Delete {{file.fileName}}</ng-template>
                      <span *ngxPermissionsOnly="['builder']" class="badge badge-danger badge-pill float-right deleteButton" (click)="deleteUploadedFile(i, file.id, file.fileName, filesArray)" [tooltip]="deleteTooltip"  placement="auto">X</span>
                    </li>-->
                  </ul>
                </div>
              </ng-template>
              <ng-template #noFilesExist>
                <div class="form-group" *ngIf="files.length < 10 && formType !== 'viewBid'">
                  <label for="file">Attach Files: (max of 10 files)</label>
                  <div>
                    <label class="custom-file">
                      <input type="file" id="file" class="custom-file-input" (change)="fileSelected($event)">
                      <span class="custom-file-control"></span>
                    </label>
                  </div>
                </div>
                <div *ngIf="files.length">
                  <h6>Files Selected</h6>
                  <ul class="list-group">
                    <li *ngFor="let file of files; let i = index;" class="list-group-item mt-0 mb-0 pb-1 pt-1 justify-content-between">{{i+1}}. {{file.name}}
                      <ng-template #deleteTooltip>Delete {{file.name}}</ng-template>
                      <span *ngxPermissionsOnly="['builder']" class="badge badge-danger badge-pill float-right" (click)="deleteFile(i, file.name)" [tooltip]="deleteTooltip"  placement="auto">X</span>
                    </li>
                  </ul>
                </div>
              </ng-template>


              <div class="form-group">
                <label for="additionalDetails">Additional Details</label>
                <textarea class="form-control" id="additionalDetails" rows="3" formControlName="additionalDetails" [ngModel]="bidForm?.additionalDetails" [readonly]="(formType === 'viewBid') ? true : null"></textarea>
              </div>
              <div class="row float-right mt-2">
                <div class="col-md-12">
                  <input *ngIf="formType !== 'viewBid'" type="submit" value="Submit" class="btn btn-block btn-outline-success btn-lg">
                </div>
              </div>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

 -->
