:host /deep/ .nav-pills > li.active > a {
  background-color: transparent;
  color: #5cb85c !important;
  -webkit-box-shadow: 0 0 0 2px #5cb85c;
  box-shadow: 0 0 0 2px #5cb85c;

}

:host /deep/ .nav-pills li > a  {
  background-color: transparent;
  color: #5cb85c !important;
}

:host /deep/ .nav-pills li > a:hover  {
  background: #5cb85c;
  color: white !important;
}
img.logo-no-resize {
  height: 150px !important;
  width:  250px !important;
}

.pageDetails {
  border: 3px gray !important;
}

.body {
  height: 100vh !important;
  border: 0.01rem solid lightgray !important;
  border-bottom: none !important;
  border-top: none !important;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
}

.is-opened-menu {
  padding-left: 280px !important;
  min-width: 640px;
}

.nothing.is-opened-menu {
  padding-left: 0px !important;
}

.is-collapsed-menu {
  padding-left: 0px !important;
}