<div class="row">
    <div class="col-md-9">
      <a [routerLink]="['/dashboard']">
        <img class="logo" src="./assets/images/logo-new.jpg">
      </a>
    </div>
  </div>
  
  <!--<ng-container *ngIf="!showlineNav; else lineNavbar">-->
  
    <a class="loginText float-right" href="#" (click)="$event.preventDefault(); onLogout()">Logout</a>
    <nav class="navbar navbar-toggleable-md navbar-light navbar-expand-lg bg-dark mb-0 pb-0">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!--<ul class="nav navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
              </li>
            </ul>-->
            <!--<span class="navbar-text">&nbsp;</span>-->
            <ul class="nav navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <!--      <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>-->
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="accountDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/profile', 'view']">My Profile</a>
                  <a class="dropdown-item" [routerLink]="['/profile']">Edit my Profile</a>
                </div>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="profileDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item">My Account</a>
                  <a class="dropdown-item">My Account</a>
                </div>
              </li>
                <li class="nav-item">
                <a class="nav-link" [routerLink]="['/changelog']">Change Log</a>
              </li>
            </ul>
  <!--        <ul class="nav navbar-nav">
            <ng-container *ngIf="!isLoggedIn">
              <li class="nav-item">
                <a class="nav-link border-left" routerLink="/login">Login</a>
              </li>
              <li class="nav-item no-border-right">
                <a class="nav-link" routerLink="/register">Sign Up</a>
              </li>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
              <li class="nav-item border-left no-border-right">
                <a class="nav-link" (click)="onLogout()">Logout</a>
              </li>
            </ng-container>
          </ul>-->
        </div>
    </nav>
  
  <ng-container>
    <div class="mt-2 mb-2">
      <app-alerts></app-alerts>
    </div>
  </ng-container>
  <!--</ng-container>-->
  
  <ng-template #lineNavbar>
    <div class="navbar-line">
      <a class="loginText float-right pb-0 mb-0" routerLink="/login">Login/Sign Up</a>
      <br class="m-0 p-0"/>
      <hr class="navbar-hr mt-2 pt-0"/>
    </div>
  </ng-template>
  
  