:host /deep/ .nav-pills > li.active > a {
  background-color: transparent;
  color: #5cb85c !important;
  -webkit-box-shadow: 0 0 0 2px #5cb85c;
  box-shadow: 0 0 0 2px #5cb85c;
  border-color: #5cb85c !important;

}


.thumbnail img {

  padding-right:15px;
}

.textRight {

  text-align : right;
}


/* Added some padding to make it more readable */

div[class^="col-"] {
  padding:40px;
}

.imgLogo {
  width: 180px !important;
  height: 150px !important;
  max-width: 180px !important;
  max-height: 150vmin !important;
}

.top-nav {
  margin-top: 30px;

}

.box{
  padding: 2.5%;
  border: 1px solid black;
  border-radius: 12px;

}

.list-unstyled-flex {
  padding-left: 0;
  margin: 0 auto;
  list-style: none;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;

}

.nums {

  font-size: 3em;
  font-weight: bold;
  color: #464646;

}


/* .toggle-pill {
  touch-action: manipulation;
} */

.nums2 {
  display: inline;
  background-color:  #57b436 !important;
  padding: 0.5em 1em;
  box-decoration-break: clone;
  font-size: 2em;
}

.center{
  align-items: center;
  padding-left: 10px;
}

.float-right{
  display: inline;
  float: right;
}

.table{
  width: 100%;
  padding: 0;
  margin: 0;
  table-layout: fixed;
  overflow: auto;
}

.col-num{
  width: 20%;
}

th>p {
  text-align: center;
}

.col-step{
  width: 4%;
  text-align: center;

}

.col-vc{
  width: 20% !important;
  text-align: center;
  overflow: hidden;
}

.col-desc{
  padding:5px;
}

.col-t-desc{

}

.trade-btn{
  width: 100%;
}

.col-rb{
  width: 10%;
  text-align: center;

}

.col-vb{
  width: 6% !important;
  text-align: center;
  overflow: auto;

}

.hbg-table tr {
  border-bottom: 1px solid rgb(201, 201, 201)
}

.green-box-wrapper{
  text-align: center;
}

.hbg-step-box {
  width: 85px;
  height: 85px;
  line-height: 85px;
  margin: 10px;
  background-color: #57b436;
  color: #fff;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 576px) {
  .circle {
    background:#57b436 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin:5px;
    overflow:hidden;
    padding:25px;
    position:relative;
  }
  .text{
    transform:translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .circle {
    background:#57b436 !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin:5px;
    overflow:hidden;
    padding:25px;
    position:relative;
  }
  .text{
    transform:translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
    font-size: 2em;
  }
}

@media (min-width: 992px) {
  .circle {
    background:#57b436 !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin:5px;
    overflow:hidden;
    padding:25px;
    position:relative;
  }
  .text{
    transform:translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
    font-size: 3em;
  }
}

@media (min-width: 1200px) {

}
