<div class="row pl-md-4 pr-md-4 mt-5 container-fluid">
  <div class="card h-100 mb-0">
    <div class="card-block">
      <div class="col-md-12 p-0">
        <ol class="breadcrumb mt-1 ">
          <li class="breadcrumb-item active">
            <strong>Projects</strong>
          </li>
          <li class="breadcrumb-item active">
            <a [routerLink]="['../', 'project-details']">{{projectData?.address}} {{projectData?.address2 ? projectData?.address2 : ''}}</a>
          </li>
          <li class="breadcrumb-item last-breadcrumb">
            <a>Subcontractors</a>
          </li>
        </ol>
        <hr />
        <div class="pb-0 ml-3 ">
          <h3 class="text-title color-green">Subcontractors</h3>
          <small class="text-muted text-justify">
            Here you can find Subcontractors to work on your project. You may find subcontractors through the home builders guide or
            by viewing all trades. The home building guide is a step by step process for building a basic home, designed
            to help the project manager stay organized and focused on the project.
            <br />
            <table>
              <tr>
                <td style="padding:10px;">Active Project</td>
                <td style="padding:10px;">Inactive Project</td>
              </tr>
              <tr>
                <td>
                  <div class="toggle-checkbox toggle-success checkbox-inline">
                    <input type="checkbox" id="toggle-sample-on" readonly checked disabled>
                    <label for="toggle-sample-on"></label>
                  </div>
                </td>
                <td>
                  <div class="toggle-checkbox toggle-success checkbox-inline">
                    <input type="checkbox" id="toggle-sample-off" readonly disabled>
                    <label for="toggle-sample-off"></label>
                  </div>
                </td>
              </tr>
            </table>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pl-md-4 pr-md-4 mt-2">
  <div class="card h-100" style="width: 100%">
    <div class="card-block ">
      <tabset type="pills justify-content-center">
        <tab heading="Home Builders Guide">
          <ng-container *ngTemplateOutlet="homeBuildersGuide"></ng-container>
        </tab>
        <tab heading="All Trades">
          <ng-template *ngTemplateOutlet="subcontractors"></ng-template>
        </tab>
      </tabset>


      <ng-template #subcontractors>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <table class="table" datatable>
              <thead>
                <tr>
                  <th class="col-t-desc">
                    <p>Description</p>
                  </th>
                  <th class="col-rb">
                    <p>Request Bids</p>
                  </th>
                  <th class="col-vc">
                    <p>View Contractors</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let step of subprojects?.data; let i = index">
                  <ng-container *ngIf="step.hbg.is_trade == 0">
                    <tr>

                      <td class="col-t-desc">
                        <h4>
                          <a [routerLink]="['view', step.hbg.sctID, step.hbg.id]">
                            {{step.hbg.stepName}}
                          </a>
                        </h4>
                        <p>
                          {{step.hbg.stepDescription}}
                        </p>
                      </td>
                      <td class="col-rb">
                        <ng-container *ngIf="step.is_available == 1 && step.is_filled == 0">
                          <div class="toggle-checkbox toggle-success checkbox-inline">
                            <input type="checkbox" id="{{'toggle' + step.hbg.stepNum}}" readonly checked disabled>
                            <label for="{{'toggle' + step.hbg.stepNum}}"></label>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="(step.is_available == 0 && step.is_filled == 0) || step.is_filled == 1">
                          <div class="toggle-checkbox toggle-success checkbox-inline">
                            <!-- default state is unchecked -->
                            <input type="checkbox" id="{{'toggle' + step.hbg.stepNum + ' ' + step.id}}" readonly disabled>
                            <label for="{{'toggle' + step.hbg.stepNum + ' ' + step.id}}"></label>
                          </div>
                        </ng-container>
                      </td>
                      <td class="col-vb">
                        <ng-container *ngIf="step.is_available == 0">
                          <button type="button" class="btn btn-outline-success btn-sm" [routerLink]="['../','bid', 'view', step.hbg.sctID]" disabled>View Request</button>
                        </ng-container>
                        <ng-container *ngIf="step.is_available == 1">
                          <button type="button" class="btn btn-outline-success btn-sm" [routerLink]="['../','bid', 'view', step.hbg.sctID]">View Request</button>
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>


      <!-- HOME BUILDERS GUIDE -->

      <ng-template #homeBuildersGuide>

        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="">
              <table class="hbg-table" datatable>
                <thead>
                  <tr>
                    <th class="col-step">Step</th>
                    <th class="col-desc">Description</th>
                    <th class="col-rb">Request Bids</th>
                    <th class="col-vb">View Bids</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let step of subprojects.data">
                    <ng-container *ngIf="step.hbg.is_trade == 1">
                      <tr>
                        <td class="col-step">
                          <div class="hbg-step-box">{{step.hbg.stepNum}}</div>
                        </td>
                        <td class="col-desc">
                          <p class="text-justify align-self-center">
                            <a class="mt-0 mb-1" [routerLink]="['view', step.hbg.sctID, step.hbg.id]">{{step.hbg.stepName}}</a>
                            <br /> {{step.hbg.stepDescription}}
                          </p>
                        </td>
                        <td class="col-rb">
                          <ng-container *ngIf="step.is_available == 1 && step.is_filled == 0">
                            <div class="toggle-checkbox toggle-success checkbox-inline">
                              <input type="checkbox" id="{{'toggle' + step.hbg.stepNum}}" readonly checked disabled>
                              <label for="{{'toggle' + step.hbg.stepNum}}"></label>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="(step.is_available == 0 && step.is_filled == 0) || step.is_filled == 1">
                            <div class="toggle-checkbox toggle-success checkbox-inline">
                              <!-- default state is unchecked -->
                              <input type="checkbox" id="{{'toggle' + step.hbg.stepNum + ' ' + step.id}}" readonly disabled>
                              <label for="{{'toggle' + step.hbg.stepNum + ' ' + step.id}}"></label>
                            </div>
                          </ng-container>
                        </td>
                        <td class="col-vb">
                          <ng-container *ngIf="step.is_available == 0">
                            <button type="button" class="btn btn-outline-success btn-sm" [routerLink]="['view', step.hbg.sctID, step.hbg.id, step.id, 'activeproject']"
                              disabled>View Request</button>
                          </ng-container>
                          <ng-container *ngIf="step.is_available == 1">
                            <button type="button" class="btn btn-success btn-sm" [routerLink]="['view', step.hbg.sctID, step.hbg.id, step.id, 'activeproject']">View Request</button>
                          </ng-container>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>