<div class="row pl-md-4 pr-md-4 mt-5">
  <div class="col-md-12">
    <div class="card h-100 mb-0">
      <div class="card-block">
        <ol class="breadcrumb mt-1 ">
          <li class="breadcrumb-item active">
            <strong>Projects</strong>
          </li>
          <li class="breadcrumb-item">{{projectData.address}} {{projectData.address2 ? projectData.address2 : ''}}</li>
          <li class="breadcrumb-item last-breadcrumb">Subprojects</li>
        </ol>
        <hr>
        <div class="pb-0 ml-3">
          <h3 class="breadcrumb-title">Subprojects for {{projectData.address}}</h3>
          <small class="text-muted text-justify">
            These are the project's parts broken down into the home builders guide. You will need to create a new bid for each subproject.
          </small>
        </div>
      </div>
    </div>
  </div><!-- END BREADCRUMB -->
</div>
<div class="row pl-md-4 pr-md-4 mt-5">
  <div class="col-md-12">
    <div class="card h-100 mb-0">
      <div class="card-block">
        <ul>
          <!-- <div *ngFor="let subproject of {{projectData.project_id}};">
            <li>
              {{subproject}}
            </li>
          </div> -->
        </ul>
      </div>
    </div>
  </div>
</div>
