.btnProjectFiles {
  margin-bottom: 2.5vmin;
}

.projectDetails {
  /*text-align: center !important;*/
}

#firstName{
  margin-left: 0px !important;
}

input[readonly]{
  background-color:transparent;
  /*border: 0;*/
  font-size: 1em;
}

textarea[readonly]{
  background-color:transparent;
  /*border: 0;*/
  font-size: 1em;
}

.label-name {
  font-weight: bold !important;
}


@media(max-width: 976px) {

}

@media(min-width: 976px) {
  dl > dt {
    text-align: right;
    /*padding:0  !important;
    margin: 0 !important;*/
  }

  dl > dd {
    /*text-align: left;*/
    /*margin: 0 !important;
    padding: 0 !important;*/
    /*margin-bottom: 0 !important;
    padding-bottom: 0 !important;*/
    border: 0.09em solid;
  }
}
