<!-- <br><br>
<div class="container-fluid">
  <div class="container">
    <div class="card">
      <div class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
        <ul class="list-unstyle list-inline text-right">
          <li class="list-inline-item">
            <a href="" class="btn text-gray text-hover display-block padding-10 no-mrg-btm" onclick="window.print();">
              <i class="ti-printer text-info pdd-right-5"></i>
              <b>Print</b>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="" class="text-gray text-hover display-block padding-10 no-mrg-btm">
              <i class="fa fa-file-pdf-o text-danger pdd-right-5"></i>
              <b>Export PDF</b>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="pdd-horizon-30">
          <div class="mrg-top-15">
            <div class="inline-block">
              Company Logo
              <br>
              <address class="pdd-left-10 mrg-top-20">
                <b class="text-dark">{{bboData[0]?.bci_company}}</b>
                <br>
                <span>{{bboData[0]?.bci_address}}</span>
                <br>
                <span>{{bboData[0]?.bci_city}}, {{bboData[0]?.bci_province}} {{bboData[0]?.bci_postalCode}}</span>
                <br>
                <abbr class="text-dark" title="Phone">Phone:</abbr>
                <span>{{bboData[0]?.bci_phoneNumber}}</span>
              </address>
            </div>
            <div class="pull-right">
              <h2>INVOICE</h2>
            </div>
          </div>
          <div class="row mrg-top-20">
            <div class="col-md-9 col-sm-9">
              <h3 class="pdd-left-10 mrg-top-10">Invoice To:</h3>
              <address class="pdd-left-10 mrg-top-10">
                <b class="text-dark">{{bboData[0]?.sci_company}}</b>
                <br>
                <span>{{bboData[0]?.sci_address}}</span>
                <br>
                <span>{{bboData[0]?.sci_address2}}</span>
              </address>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="">
                <div class="text-dark text-uppercase inline-block">
                  <b>Date Created:</b>
                </div>
                <div class="pull-right">{{bboData[0]?.created_at | amDateFormat:'LL'}}</div>
              </div>
            </div>
          </div>
          <div class="h-100">
              <div class="col-md-12 mx-auto">
                <ul class="list-group">
                  <li class="list-group-item row pt-4 pb-3" style="background-color: black !important; color: white;">
                    <h4>Property Overview</h4>
                  </li>
                  <li class="list-group-item row">
                    <div class="col-md-4">Project Address:</div>
                    <div class="col-md-5">
                      {{bboData[0]?.projectAddress}}
                      <ng-container *ngIf="bboData[0]?.projectAddress2">{{bboData[0]?.projectAddress2}}</ng-container>
                      {{bboData[0]?.projectCity}}, {{bboData[0]?.projectProvince}} {{bboData[0]?.projectPostalCode}}
                    </div>

                    <li class="list-group-item row">
                      <div class="col-md-4">Land Type:</div>
                      <div class="col-md-5">
                        {{bboData[0]?.projectLandType}}
                      </div>
                    </li>

                    <li class="list-group-item row">
                      <div class="col-md-4">Project Type:</div>
                      <div class="col-md-5">
                        {{bboData[0]?.projectProjectType}}
                      </div>
                    </li>

                    <li class="list-group-item row">
                      <div class="col-md-4">Lot Size:</div>
                      <div class="col-md-5">
                        {{bboData[0]?.projectLotSize}}
                      </div>
                    </li>


                    <li class="list-group-item row">
                      <div class="col-md-4">Zoning:</div>
                      <div class="col-md-5">
                        {{bboData[0]?.projectZoning}}
                      </div>
                    </li>

                    <li class="list-group-item row">
                      <div class="col-md-4">Building Size: (per unit)</div>
                      <div class="col-md-5">
                        {{bboData[0]?.projectBuildingSize}}
                      </div>
                    </li>

                    <li class="list-group-item row">
                      <div class="col-md-4">Number of Units:</div>
                      <div class="col-md-5">
                        {{bboData[0]?.projectNumUnits}}
                      </div>
                    </li>

                    <li class="list-group-item row">
                      <div class="col-md-4">Project Value:</div>
                      <div class="col-md-5">
                        {{bboData[0]?.projectBuildValue}}
                      </div>
                    </li>

                    <li class="list-group-item row">
                      <div class="col-md-4">Project Details:</div>
                      <div class="col-md-5">
                        {{bboData[0]?.projectDetails}}
                      </div>
                    </li>

                </ul>


                <div class="pt-5">
                  <!--<br/>-->
                  <!-- <ng-container *ngIf="!newBid">
                    <h5 class="mb-3 mt-1">Uploaded Files:</h5>
                    <div *ngIf="files[0];then filesExist else noFilesExist"></div>
                    <ng-template #filesExist> -->
                      <!--         <ul class="list-group">
                             <li class="list-group-item mt-0 mb-0 pb-1 pt-1 justify-content-between listItemLink" *ngFor="let file of files; let i = index;" >
                               <a (click)="onViewFile(file)">{{i}}. {{file.fileName}} </a>
                               &lt;!&ndash;<span class="pull-right button-group" (click)="deleteUploadedFile(i, file.id, file.fileName, filesArray)">
                                       <ng-template #deleteTooltip>Delete {{file.fileName}}</ng-template>
                                       <button *ngxPermissionsOnly="['builder']"  type="button" class="btn btn-danger btn-xs fa fa-trash"></button>
                                   </span>&ndash;&gt;

                             </li>
                           </ul>-->
                      <!-- <ul class="list-unstyled">
                        <li class="mt-1 mb-1 pb-1 pt-1 justify-content-between listItemLink" *ngFor="let file of files; let i = index;">
                          <a (click)="onViewFile(file)">{{i+1}}. {{file.fileName}} </a> -->
                          <!--<span class="pull-right button-group" (click)="deleteUploadedFile(i, file.id, file.fileName, filesArray)">
                              <ng-template #deleteTooltip>Delete {{file.fileName}}</ng-template>
                              <button *ngxPermissionsOnly="['builder']"  type="button" class="btn btn-danger btn-xs fa fa-trash"></button>
                          </span>-->
<!--
                        </li>
                      </ul>

                    </ng-template>
                    <ng-template #noFilesExist>
                      <br/>
                      <p>No Files have been uploaded for this bid</p>
                    </ng-template>
                  </ng-container>
                  <ng-container *ngIf="newBid">
                    <h5 class="mb-3">Bid Form:</h5>
                    <form class="form-group" [formGroup]="newBidForm" (ngSubmit)="onSubmit(newBidForm.value)">
                      <div class="form-group">
                        <label for="file">Attach Files:</label>
                        <div>
                          <label class="custom-file">
                            <input type="file" id="file" class="custom-file-input" (change)="fileSelected($event)">
                            <span class="custom-file-control"></span>
                          </label>
                        </div>
                      </div>
                      <div *ngIf="filesToUpload.length">
                        <h6 class="pb-2 pt-2">Files Selected:</h6>
                        <ul class="list-group">
                          <li *ngFor="let file of filesToUpload; let i = index;" class="list-group-item mt-0 mb-0 pb-1 pt-1 justify-content-between">{{i+1}}. {{file.name}}
                            <ng-template #deleteTooltip>Delete {{file.name}}</ng-template>
                            <span class="pull-right button-group" (click)="deleteFile(i, file.name)">
                              <ng-template #deleteTooltip>Delete {{file.name}}</ng-template>
                              <button *ngxPermissionsOnly="['builder']" type="button" class="btn btn-danger btn-xs fa fa-trash"></button>
                            </span>
                          </li>
                        </ul>
                      </div>
                      <div class="form-group mt-4 pt-5">
                        <label for="additionalDetails">Additional Details</label>
                        <textarea class="form-control" id="additionalDetails" rows="3" formControlName="additionalDetails"></textarea>
                      </div>
                      <div class="row float-right mt-3">
                        <div class="col-md-12">
                          <input type="submit" value="Submit" class="btn btn-block btn-outline-success btn-lg">
                        </div>
                      </div>
                    </form>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
