<!-- <app-navbar></app-navbar>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <h3>{{accountingData[0]?.sci_company}}</h3>
        <address>
          {{accountingData[0]?.sci_address}} <br/>
          <ng-container *ngIf="accountingData[0]?.sci_address2"> {{accountingData[0]?.sci_address2}} <br/></ng-container>
          {{accountingData[0]?.sci_city}}, {{accountingData[0]?.sci_province}} {{accountingData[0]?.sci_postalCode}} <br/>
          {{accountingData[0]?.sci_phoneNumber}}
        </address>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="text-md-right">
          <h5>Bill To: </h5>
          <address>
            {{accountingData[0]?.bci_address}} <br/>
            <ng-container *ngIf="accountingData[0]?.bci_address2"> {{accountingData[0]?.bci_address2}} <br/> </ng-container>
            {{accountingData[0]?.bci_city}}, {{accountingData[0]?.bci_province}} {{accountingData[0]?.bci_postalCode}} <br/>
            {{accountingData[0]?.bci_phoneNumber}}
          </address>
          <br/>
          <strong>INVOICE</strong>
          <br/>
          Date Sent: {{accountingData[0]?.accounting_created_at | amDateFormat:'LL'}} <br/>
        </div>

      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">


        <h5>Project Details:</h5>

        <address>
          {{accountingData[0]?.projectAddress}} <br/>
          <ng-container *ngIf="accountingData[0]?.projectAddress2">{{accountingData[0]?.projectAddress2}} <br/> </ng-container>
          {{accountingData[0]?.projectCity}}, {{accountingData[0]?.projectProvince}} {{accountingData[0]?.projectPostalCode}} <br/>
        </address>
        <dl class="row">
          <dt class="col-sm-3">Land Type:</dt>
          <dd class="col-sm-9">{{accountingData[0]?.projectLandType}}</dd>

          <dt class="col-sm-3">Project Type:</dt>
          <dd class="col-sm-9">{{accountingData[0]?.projectProjectType}}</dd>

          <dt class="col-sm-3">Lot Size:</dt>
          <dd class="col-sm-9">{{accountingData[0]?.projectLotSize}}</dd>

          <dt class="col-sm-3">Building Size: (per unit)</dt>
          <dd class="col-sm-9">{{accountingData[0]?.projectBuildingSize}}</dd>

          <dt class="col-sm-3">Zoning:</dt>
          <dd class="col-sm-9">{{accountingData[0]?.projectZoning}}</dd>

          <dt class="col-sm-3">Project Value:</dt>
          <dd class="col-sm-9">{{accountingData[0]?.projectBuildValue}}</dd>

          <dt class="col-sm-3">Details:</dt>
          <dd class="col-sm-12 details-text">
            <span class="pl-4">{{accountingData[0]?.projectDetails}}</span>
          </dd>
        </dl>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="text-md-right">

        </div>
        <div class="d-flex justify-content-end button-group">
          <button class="btn btn-sm btn-outline-success mr-2" [routerLink]="['/projects', accountingData[0]?.projectID, 'bids', accountingData[0]?.bidID, 'view', accountingData[0]?.bboID]">View Bid Details</button>
          <button class="btn btn-sm btn-outline-success mr-2" [routerLink]="['/projects', accountingData[0]?.projectID, 'project-details']">Project Details & Uploads</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template  #uomTT>UoM: Unit of Measurement (i.e. Each, Pieces, Hours, Gallons)</ng-template>
<div class="table-responsive mt-3 pt-2">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th [tooltip]="uomTT" placement="auto">UoM</th>
      <th>Tax</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lineItem of scboli;">
      <td>{{lineItem.scboli_name}}</td>
      <td class="text"><span>{{lineItem.scboli_description}}</span></td>
      <td>{{lineItem.scboli_price | currency : 'CAD' : true : '1.2'}}</td>
      <td>{{lineItem.scboli_quantity}}</td>
      <td>{{lineItem.scboli_uom}}</td>
      <td>{{lineItem.scboli_lineTaxTotal | currency : 'CAD' : true : '1.2'}}</td>
      <td>{{lineItem.scboli_lineTotal | currency : 'CAD' : true : '1.2'}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row">
<!--  <div class="col float-left" *ngxPermissionsOnly="['subcontractor']">
  </div>-->


  <div  class="col text-right">
    <strong>Sub Total: </strong> {{scboli[0]?.scbo_subTotal | currency : 'CAD' : true : '1.2'}} <br>
    <strong>Tax Total: </strong> {{scboli[0]?.scbo_taxTotal  | currency : 'CAD' : true : '1.2'}} <br>
    <strong>Grand Total: </strong> {{scboli[0]?.scbo_grandTotal  | currency : 'CAD' : true : '1.2'}} <br>
    <ng-container *ngIf="accountingData[0]?.amountPaidSoFar > 0"><strong>Balance Paid: </strong> {{accountingData[0]?.amountPaidSoFar | currency : 'CAD' : true : '1.2'}} <br/></ng-container>
    <ng-container *ngIf="accountingData[0]?.amountPaidSoFar == 0 || accountingData[0]?.amountPaidSoFar == null" [style.color]="'red'"><strong>Balance Paid:</strong> {{"0" | currency : 'CAD' : true : '1.2'}} <br/></ng-container>
    <strong>Balance Remaining:</strong> {{accountingData[0]?.amountRemaining | currency : 'CAD' : true : '1.2'}} <br/>
  </div>
</div>

<!--<input type="button" class="btn btn-block btn-outline-success" value="Add new line item" (click)="onShowLineItemModal(addLineItemModal)">-->
<div class="row mt-3">
  <div class="col float-left">
    <label>Notes/Comments:</label>
    <div class="form-group">
      {{scboli[0]?.scbo_comments}}
    </div>
  </div>
  <div class="col">

  </div>
</div>
<!--  <div class="col">
    <button class="btn btn-outline-success float-right" type="button">Accept</button>
    <button class="btn btn-outline-danger float-right mr-3" type="button">Reject</button>
  </div>-->

<hr/>
<h4 class="mt-1 mb-2">Payment History</h4>

<ng-container *ngIf="!apm[0]">
  <div *ngxPermissionsOnly="['subcontractor']">
    <strong>{{accountingData[0]?.bci_company}} has not made any payments yet</strong>
  </div>
  <div *ngxPermissionsOnly="['builder']">
    <strong>You have not made any payments yet</strong>
  </div>
</ng-container>


<div class="row">
<ng-container *ngIf="apm[0]">
  <div class="table-responsive mt-3">
    <table class="table">
      <thead>
      <tr>
        <th>Amount</th>
        <th>Date Sent</th>
        <th>Status</th>
        <th>Status Changed On</th>
        <ng-container  *ngxPermissionsOnly="['subcontractor']">
          <th>Received/Not Received</th>
        </ng-container>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pm of apm;">
        <td>{{pm.amountPaid | currency : 'CAD' : true : '1.2'}}</td>
        <td>{{pm.created_at | amDateFormat:'LL'}}</td>
        <ng-container *ngIf="pm.status == 'waiting'">
          <td>Waiting for response</td>
          <td>Waiting for response</td>
        </ng-container>
        <ng-container *ngIf="pm.status == 'approved'">
          <td [style.color]="'green'">Received</td>
          <td>{{pm.scConfirmedPaymentOn | amDateFormat:'LL'}}</td>
        </ng-container>
        <ng-container *ngIf="pm.status == 'rejected'">
          <td [style.color]="'red'">Rejected</td>
          <td>{{pm.scUnConfirmedPaymentOn | amDateFormat:'LL'}}</td>
        </ng-container>
        <ng-container *ngxPermissionsOnly="['subcontractor']">
          <td>
            <ng-template  #confirmPaymentTT>Confirm you have received payment of {{pm.amountPaid | currency : 'CAD' : true : '1.2'}}</ng-template>
            <ng-container *ngIf="pm.status == 'waiting'">
              <button type="button" class="btn btn-success float-left mr-0" (click)="confirmOrUnconfirmPayment(pm, 'confirm')" [tooltip]="confirmPaymentTT" placement="auto">
                <span class="fa fa-check mr-0" aria-hidden="true" ></span></button>
              <ng-template  #unconfirmPaymentTT>Mark this Payment of {{pm.amountPaid | currency : 'CAD' : true : '1.2'}} as not received</ng-template>
              <button type="button" class="btn btn-danger float-right" (click)="confirmOrUnconfirmPayment(pm, 'reject')"  [tooltip]="unconfirmPaymentTT" placement="auto">
                <span class="fa fa-times" aria-hidden="true" ></span></button>
            </ng-container>
            <ng-container *ngIf="pm.status != 'waiting'">
              Already marked as {{pm.status == 'approved' ? 'received' : 'not received'}}
            </ng-container>
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
  <div class="col mb-3">
    <button *ngxPermissionsOnly="['builder']" class="btn btn-outline-success float-right" type="button" (click)="onMakePayment(makePaymentModal)">Make a Payment</button>
    <!--<button class="btn btn-outline-danger float-right mr-3" type="button">Reject</button>-->
  </div>
</div>




<!-----------------------------------------------------------------------------
                          MAKE PAYMENT MODAL
--------------------------------------------------------------------------------->

<ng-template #makePaymentModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Send a Payment</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-group" [formGroup]="sendPaymentForm" (ngSubmit)="onSendPayment(sendPaymentForm.value)">

      <div class="form-group col-md-12">
        <label for="paymentAmount">Amount:</label>
        <div class="form-group col-md-12">
          <input type="number" class="form-control" id="paymentAmount" formControlName="paymentAmount">
        </div>
      </div>

      <div *ngIf="sendPaymentForm.controls.paymentAmount.invalid && submitAttempt" class="validation">
        <p class="ml-3">Enter a valid Amount that is greater than $1</p>
      </div>
        <button  class="btn btn-outline-success float-right mt-2" type="submit">Submit</button>
    </form>
  </div>
</ng-template>


 -->
