<div class="container-fluid mt-5">
	<div class="container">
		<div class="card">
			<div class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
				<ul class="list-unstyle list-inline text-right">
					<li class="list-inline-item">
						<a href="" class="btn text-gray text-hover display-block padding-10 no-mrg-btm" onclick="window.print();">
							<i class="ti-printer text-info pdd-right-5"></i>
							<b>Print</b>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="text-gray text-hover display-block padding-10 no-mrg-btm">
							<i class="fa fa-file-pdf-o text-danger pdd-right-5"></i>
							<b>Export PDF</b>
						</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<div class="pdd-horizon-30">
					<div class="mrg-top-15">
						<div class="pull-right">
							<h2>Request for Bid</h2>
						</div>
					</div>
					<div class="row mrg-top-20">
						<div class="col-4">
							<div>
								<h3 class="pdd-left-10 mrg-top-10">Request From:</h3>
								<p class="pdd-left-10">
									<b class="text-dark">
										{{ profileInfo.profileInfo.contactFirstName + ' ' + profileInfo.profileInfo.contactLastName }}
										<br /> {{profileInfo.profileInfo.company}}
										<br />
									</b>
									{{profileInfo.profileInfo.address}}
									<br />
									<ng-container *ngIf="profileInfo.profileInfo.address2">
										{{profileInfo.profileInfo.address2}}
										<br />
									</ng-container>
									{{ profileInfo.profileInfo.city }} {{ profileInfo.profileInfo.province }}
									<br /> {{ profileInfo.profileInfo.phoneNumber }}
									<br />
									<ng-container *ngIf="profileInfo.profileInfo.address2">
										{{ profileInfo.profileInfo.website }}
										<br />
									</ng-container>
								</p>
							</div>
						</div>
					</div>
					<hr />
					<div class="row">
						<h3>Project Info</h3>
					</div>
					<div class="row mb-2">
						<label for="firstName" class="mb-1 label-name">Name:</label>
						<input type="text" id="firstName" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.firstName + ' ' + projectData.lastName"
						 readonly>
					</div>
					<div class="row mb-2">
						<label for="firstName" class="label-name">Address:</label>
						<input type="text" id="address" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.address" readonly>
					</div>
					<div class="row mb-2">
						<input type="text" id="address2" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.postalCode + ' ' + projectData.city + ', ' + projectData.province + ' ' + projectData.country"
						 readonly>
					</div>
					<div class="row mb-2">
						<label class="mb-1 label-name">Land Type:</label>
						<input type="text" id="city" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.landType" readonly>
					</div>
					<div class="row mb-2">
						<label class="mb-1 label-name">Project Type:</label>
						<input type="text" id="province" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.projectType" readonly>
					</div>
					<div class="row mb-2">
						<label class="label-name">Lot Size:</label>
						<input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.lotSize" readonly>
					</div>
					<div class="row mb-2">
						<label class="label-name">Building Size:</label>
						<input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.buildingSize" readonly>
					</div>
					<div class="row mb-2">
						<label class="label-name">Num of Units:</label>
						<input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.numUnits" readonly>
					</div>
					<div class="row mb-2">
						<label for="comment">Comments</label>
						<textarea class="form-control mx-sm-12 ml-3" id="comment" rows="3" [(ngModel)]="bid.comments"></textarea>
					</div>
					<div class="row mb-2 mt-3" *ngIf="!bid.id">
						<div class="text-left">
							<input type="button" class="btn btn-outline-success ml-3" value="Upload Files" (click)="uploadFiles(projectFileUploadModal)">
						</div>
						<table class="table ml-3">
							<thead>
								<tr>
									<th width="50%">Name</th>
									<th>Size</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of projectFiles; let i = index">
									<td>
										<strong>{{ item?.name }}</strong>
									</td>
									<td>{{ item?.size/1024/1024 | number:'.2' }} MB</td>
									<td nowrap>
										<button type="button" class="btn btn-danger btn-xs" (click)="removeProjectFile(i)">
											<span class="glyphicon glyphicon-trash"></span> Remove
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row mb-2 mt-3" *ngIf="bid.id">
						<table class="table ml-3">
							<thead>
								<tr>
									<th width="50%">Name</th>
									<th>Size</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of projectFiles; let i = index">
									<td>
										<strong>{{ item?.fileName }}</strong>
									</td>
									<td>{{ item?.fileSize/1024/1024 | number:'.2' }} MB</td>
									<td nowrap>
										<button type="button" class="btn btn-info btn-xs" (click)="viewFile(item)">
											View
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-12">
						<div class="row mrg-top-30">
							<div class="col-md-12 mrg-top-10" *ngIf="!bid.id">
								<div class="text-center">
									<input type="button" class="btn btn-outline-success" value="Submit" (click)="submit()">
								</div>
							</div>
							<div class="col-md-12">
								<div class="border top bottom pdd-vertical-20">
									<p class="text-opacity">
										<small>
											BC Builder does not ensure all the data is correct. This document is a just an estimate and is not binding in any way.
										</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #projectFileUploadModal>
	<div class="modal-header">
		<h4 class="modal-title pull-left">
			<strong>Upload Files</strong>
		</h4>
		<button type="button" class="close pull-right" (click)="closeModal()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<input type="file" #projectUploadInput multiple (change)="addProjectFile($event)" />
		<br/>
		<table class="table">
			<thead>
				<tr>
					<th width="50%">Name</th>
					<th>Size</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of projectFiles; let i = index">
					<td>
						<strong>{{ item?.name }}</strong>
					</td>
					<td>{{ item?.size/1024/1024 | number:'.2' }} MB</td>
					<td nowrap>
						<button type="button" class="btn btn-danger btn-xs" (click)="removeProjectFile(i)">
							<span class="glyphicon glyphicon-trash"></span> Remove
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-template>