.actions .btn-sm {
    padding: 3px 5px !important;
    margin: 0px !important;
}

.logo-img {
    width: 80px !important;
    margin-left: 10px !important;
    border-radius: 10px;
}

.customClass {
    background-color: #009688;
}