<div class="container-fluid mt-5">
	<div class="container">
		<div class="padding-top-menu"></div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<div class="row">
						<ol class="breadcrumb mt-1">
							<li class="breadcrumb-item active">
								<strong>Projects</strong>
							</li>
							<li class="breadcrumb-item active">
								<a [routerLink]="['/projects', projectID, 'project-details']">{{projectData?.address}} {{projectData?.address2 ? projectData?.address2 : ''}}</a>
							</li>
							<li class="breadcrumb-item active">
								<a [routerLink]="['/projects', projectID, 'subcontractors']">Subcontractors</a>
							</li>
							<li class="breadcrumb-item active">
								<a [routerLink]="['/projects', projectID, 'subcontractors', 'bids', subprojectID]">Bids</a>
							</li>
							<li class="breadcrumb-item active">
								Invoice
							</li>
						</ol>
					</div>
					<hr />
				</div>
			</div>

			<div class="card">
				<div class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
					<ul class="list-unstyle list-inline text-right">
						<li class="list-inline-item">
							<a href="" class="btn text-gray text-hover display-block padding-10 no-mrg-btm" onclick="window.print();">
								<i class="ti-printer text-info pdd-right-5"></i>
								<b>Print</b>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="" class="text-gray text-hover display-block padding-10 no-mrg-btm">
								<i class="fa fa-file-pdf-o text-danger pdd-right-5"></i>
								<b>Export PDF</b>
							</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<div class="pdd-horizon-30">
						<div class="mrg-top-15">
							<div class="inline-block" *ngIf="subcontractorProfile">
								<img class="logo-img" *ngIf="subcontractorProfile.company_info" [src]='profileStorageURL+subcontractorProfile.company_info.logoURL'>
								<address class="pdd-left-10 mrg-top-20" alt="logo">
									<b class="text-dark">
										{{ subcontractorProfile.company_info.company }}
									</b>
									<br>
									<span> {{ subcontractorProfile.company_info.address + subcontractorProfile.company_info.address2 }}</span>
									<br>
									<span> {{ subcontractorProfile.company_info.city }} </span>
									<br>
									<abbr class="text-dark" title="Phone">Phone:</abbr>
									<span> {{ subcontractorProfile.company_info.phoneNumber ? subcontractorProfile.company_info.phoneNumber : subcontractorProfile.company_info.phoneNumber2}}</span>
								</address>
							</div>
							<div class="pull-right">
								<h2>INVOICE</h2>
							</div>
						</div>
						<div class="row mrg-top-20">
							<div class="col-md-9 col-sm-9" *ngIf="builderProfile">
								<h3 class="pdd-left-10 mrg-top-10">Invoice To:</h3>
								<address class="pdd-left-10 mrg-top-10" *ngIf="builderProfile">
									<b class="text-dark">
										{{ builderProfile.company }}
									</b>
									<br>
									<span> {{ builderProfile.address + builderProfile.address2 }}</span>
									<br>
									<span> {{ builderProfile.city }} </span>
								</address>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="mrg-top-80">
									<div class="text-dark text-uppercase inline-block">
										<b>Invoice No :</b>
									</div>
									<div class="pull-right">#1668</div>
								</div>
								<div class="">
									<div class="text-dark text-uppercase inline-block">
										<b>Date :</b>
									</div>
									<div class="pull-right">25/6/2017</div>
								</div>
							</div>
						</div>
						<div class="row mrg-top-20">
							<div class="col-md-12">
								<table class="table table-hover table-striped">
									<thead>
										<tr class="d-flex">
											<th class="col-1"></th>
											<th class="col-5">Items</th>
											<th class="col-2">Quantity</th>
											<th class="col-2">Price</th>
											<th class="text-right col-2">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let bidsLineItem of bidsLineItems; let i = index;" class="d-flex">
											<td class="col-1">{{i+1}}</td>
											<td class="col-5">
												{{bidsLineItem.details}}
											</td>
											<td class="col-2">{{bidsLineItem.quantity}}</td>
											<td class="col-2">{{bidsLineItem.price}}</td>
											<td class="text-right col-2">
												{{bidsLineItem.quantity * bidsLineItem.price}}
											</td>
										</tr>
									</tbody>
								</table>
								<div class="row mrg-top-30">
									<div class="col-md-12">
										<div class="pull-right text-right">
											<p>Subtotal amount: $2,325</p>
											<p>vat (10%) : $232 </p>
											<hr>
											<h3>
												<b>Total :</b> ${{total}}</h3>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group mt-2">
											<label for="comment">Comments</label>
											<p class="form-control"> {{bid.comments}} </p>
										</div>
									</div>
								</div>
								<div class="row mrg-top-30">
									<div class="col-md-12 mrg-top-10">
										<div class="text-center">
											<input type="button" class="btn btn-outline-success" value="Accept" (click)="accept()">
											<input type="button" class="btn btn-outline-success" value="Renegotiate" (click)="renegotiate()">
										</div>
									</div>
									<div class="col-md-12">
										<div class="border top bottom pdd-vertical-20">
											<p class="text-opacity">
												<small>In exceptional circumstances, Financial Services can provide an urgent manually processed special cheque. Note,
													however, that urgent special cheques should be requested only on an emergency basis as manually produced cheques
													involve duplication of effort and considerable staff resources. Requests need to be supported by a letter explaining
													the circumstances to justify the special cheque payment.</small>
											</p>
										</div>
									</div>
								</div>
								<div class="row mrg-vertical-20">
									<div class="col-md-6">
										<img class="img-responsive text-opacity mrg-top-5" width="100" src="assets/images/logo/logo.png" alt="">
									</div>
									<div class="col-md-6 text-right">
										<small>
											<b>Phone:</b> (123) 456-7890</small>
										<br>
										<small>support@themenate.com</small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
