.ngx-item img {
    width: 100%;
    height: auto;
    position: absolute;
    pointer-events: none
}

.ngx-item img.active {
    position: static;
}

img.logo-no-resize {
    width: 350px;
    height: 150px;
}

img.no-resize {
    height: 255px;
    width: 255px;
}

.fa-facebook,
.fa-facebook-square {
    color: #3b5998
}

.fa-youtube,
.fa-youtube-play,
.fa-youtube-square {
    color: #bb0000
}

.fa-instagram {
    color: #517fa4;
}

.fa-twitter,
.fa-twitter-square {
    color: #00aced
}

.fa-pinterest,
.fa-pinterest-square {
    color: #cb2027
}

.fa-google-plus,
.fa-google-plus-square {
    color: #dd4b39
}

.cover-img {
    background-repeat: no-repeat !important;
    background-size: auto 98% !important;
    background-position: center !important;
}