<!-- <app-navbar></app-navbar> -->

<div class="padding-top-menu"></div>
<div class="col-md-12">
  <div class="card">
    <div class="card-block">
      <div class="row">
        <ol class="breadcrumb mt-1">
          <li class="breadcrumb-item active">
            <strong>Projects</strong>
          </li>
          <li class="breadcrumb-item active">
            <a [routerLink]="['../../../../', 'project-details']">{{projectData?.address}} {{projectData?.address2 ? projectData?.address2 : ''}}</a>
          </li>
          <li class="breadcrumb-item active">
            <a [routerLink]="['../../../']">Subcontractors</a>
          </li>
          <li class="breadcrumb-item last-breadcrumb" style="color: #555459 !important;">
            <a>{{tradeName || ""}}</a>
          </li>
        </ol>
      </div>
      <hr />

      <div class="row">
        <ng-container *ngIf="noSCSExist">
          <div class="col-md-8">
            <alert type="danger">No Contractors for {{tradeName}} exist. Please Check back later.</alert>
          </div>
        </ng-container>
      </div>
      <div class="row align-items-center">
        <div class="col align-self-center">
          <ng-container *ngIf="subprojectActive == 1">
            <div class="col-md-8 offset-md-2 mb-3 mt-2">
              <button type="button" class="btn btn-outline-success w-100" [routerLink]="[subp_id,'activeproject']">View Bid Request</button>
            </div>
          </ng-container>
          <ng-container *ngIf="subprojectActive == 0">
            <div class="col-md-8 offset-md-2 mt-2">
              <button type="button" class="btn btn-outline-success w-100" [routerLink]="[subp_id,'activeproject']">Create Bid Request</button>
            </div>
          </ng-container>
        </div>
        <h4>Available:</h4>
        <ng-container *ngIf="subprojectActive == 1">
          <div class="toggle-checkbox toggle-success checkbox-inline">
            <input type="checkbox" id="toggle" readonly checked disabled>
            <label for="toggle"></label>
          </div>
        </ng-container>
        <ng-container *ngIf="subprojectActive == 0">
          <div class="toggle-checkbox toggle-success checkbox-inline">
            <!-- default state is unchecked -->
            <input type="checkbox" id="toggle" readonly disabled>
            <label for="toggle"></label>
          </div>
        </ng-container>
      </div>


    </div>
  </div>

  <div class="row d-flex justify-content-end pr-0 pl-0 ml-0 mr-0" style="padding-bottom: 2vmin;">
    <span class="custom-control-description pr-1">Send to All</span>
    <label class="custom-control custom-checkbox float-right">
      <input type="checkbox" class="custom-control-input" (change)="onSelectAll()">
      <span class="custom-control-indicator"></span>
    </label>
  </div>
  <li class="provider-row list-unstyled" *ngFor="let sc of scs?.data;">
    <div class="row mb-0">
      <div class="col-xs-12 col-md-10 provider-base-info pt-1 pb-0 mb-0">
        <div class="media mb-2 mt-2">
          <a [routerLink]="['/profile', sc.companySlug]">
            <img class="d-flex mr-3 align-self-center logopic padding-left" [src]="storageURL + sc.logoURL" width="100" height="100">
          </a>
          <div class="">
            <h5 class="mt-0">
              <a [routerLink]="['/profile']">{{sc.company}}</a>
            </h5>
            {{sc.aboutUs}}
            <br />
          </div>
        </div>
        <div class="row provider-info no-margin mb-1 pb-1">
          <div class="col-xs-12 col-sm-6 col-md-3 provider-info__description ">
            <ng-container style="margin-top: 0 !important; margin-bottom: 0 !important;">
              <ng-container *ngIf="sc.bboID != null && sc.scboBuilderAcceptedAt == null">
                <small class="">Bid sent to {{sc.company}} on {{sc.bbo_created_at | amDateFormat: 'LL'}}</small>
              </ng-container>
              <ng-container *ngIf="!sc.bboID">
                <small style="color: #6a797d">You have not sent a bid to {{sc.company}} yet</small>
              </ng-container>
              <ng-container *ngIf="sc.scboBuilderAcceptedAt">
                <small [style.color]="'green'"> You accepted {{sc.company}}'s quote on {{sc.scboBuilderAcceptedAt | amDateFormat: 'LL'}}</small>
              </ng-container>
              <ng-container *ngIf="sc.scboCreatedAt">
                <small class="" [style.color]="'blue'">
                  <br/> {{sc.company}} sent you a quote on {{sc.scboCreatedAt | amDateFormat: 'LL'}}</small>
              </ng-container>
            </ng-container>
          </div>

          <div class="col-xs-12 col-md-6 bordered-right bordered-left provider-info__chart-data border-left border-right">
            <label> Rating </label>
            <div class="mrg-btm-40">
              <nouislider class="slider-info" [config]="stepSlider" [(ngModel)]="sc.rating" style="pointer-events: none;"></nouislider>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6  col-md-3 provider-info__details ">
            <ul>
              <li>
                <i class="fa fa-tag def-color"></i> ${{sc?.max_project_size}}+
              </li>
              <li>
                <i class="fa fa-user def-color"></i> {{sc?.min_employee}} - {{sc?.max_employee}}
              </li>
              <li>
                <i class="fa fa-map-marker def-color"></i> {{sc?.city}}, {{sc?.province}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 provider-link-details">
        <ul class="nav nav-stacked nav-right-profile border-bottom-0">
          <ng-container *ngIf="sc.bidExists;then bidFormExists else noBidForm"></ng-container>
          <li class="border-bottom-none li-link">
            <a class="mr-auto pl-1 btn-normal-size" [routerLink]="['../../../', 'chat', sc.chatUUID]">
              <i class="fa fa-comment pr-1"></i>
              <span>Message</span>
            </a>
          </li>
          <li class="li-link">
            <a class="mr-auto pl-1 btn-normal-size" [routerLink]="['/profile', sc.companySlug]">
              <i class="fa fa-eye pr-1"></i>
              <span class="view-profile">View Profile</span>
            </a>
          </li>
          <li class="li-link">
            <a class="mr-auto pl-1 btn-normal-size" (click)="onGotoWebsite(sc.website)">Visit Website</a>

            <ng-container class="ml-auto" *ngIf="sc.bidExists">
              <label class="custom-control custom-checkbox  ml-auto ">
                <input type="checkbox" class="custom-control-input" [value]="sc.id" [checked]="sc?.checked" (change)="onSCSelect($event.target.checked, i)"
                  [disabled]="sc.bboID != null">
                <span class="custom-control-indicator"></span>
              </label>
            </ng-container>
          </li>
          <ng-template #noBidForm>
            <li class="li-link">
              <a class="mr-auto pl-1 btn-green btn-normal-size" [routerLink]="[sc.scID, subp_id, 'bidrequest']">
                Create Bid
              </a>
            </li>
          </ng-template>
          <ng-template #bidFormExists>
            <ng-container *ngIf="sc.bboID == null">
              <li class="li-link">
                <a class="mr-auto pl-1 btn-green btn-normal-size" [routerLink]="[sc.scID, subp_id,'bidrequest']">View Bid
                </a>
              </li>
            </ng-container>
          </ng-template>
        </ul>
      </div>
    </div>

  </li>
  <button *ngIf="bidExists" type="button" class="btn btn-outline-success float-right" (click)="onSubmitSelected()">Send To Selected</button>

</div>