
.table td.text {
  /*max-width: 177px;*/
}
.table span {
  white-space: normal;
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  display: inline-block;
  max-width: 100%;
}

@media(min-width: 976px) {
  dl {
    /*text-align: right;*/
  }

  dl > dt {
    text-align: right;
    padding: 0 !important;
    margin: 0 !important;
  }

  dl > dd {
    /*text-align: left;*/
    /*margin: 0 !important;
    padding: 0 !important;*/
    margin: 0 !important;
    padding: 0 !important;
    /*margin-bottom: 0 !important;*/
    /*padding-bottom: 0 !important;*/
  }

}

tr.deleted td:before {
  content: " ";
  position: absolute;
  display: inline-block;
  padding: 5px 10px;
  left: 0;
  border-bottom: 1px solid #d02613;
  width: 100%;
}

.validation {
  padding-left: 3vmin !important;
}
