<!-- <app-navbar></app-navbar>

<div class="row">
  <ng-container *ngIf="messages?.data[0]?.currentUserID == messages?.data[0]?.builderID; else isSC">
    <h6 class="card-title center hidden-sm-up">You are chatting with {{messages?.data[0]?.sci_company}}</h6>
    <h4 class="card-title center hidden-sm-down ml-4">You are chatting with {{messages?.data[0]?.sci_company}} </h4>
  </ng-container>
  <ng-template #isSC>
    <h6 class="card-title center hidden-sm-up">You are chatting with {{messages?.data[0]?.bci_company}}</h6>
    <h4 class="card-title center hidden-sm-down ml-4">You are chatting with {{messages?.data[0]?.bci_company}}</h4>
  </ng-template>
</div>
<div class="row body">
  <div class="card-deck col-md-12">
    <div class="col-md-3">
      <div class="card h-100 uploads-column">
        <div class="card-block">
          <h6 class="card-title center hidden-sm-up">Uploads</h6>
          <h4 class="card-title center hidden-sm-down">Uploads</h4>
          <hr/>

          <div class="center file-uploads">
            <div *ngFor="let upload of uploads">
              <div class="row">
                <figure class="figure d-block mx-auto" (click)="onOpenFile(upload.fileUUID)">
                  <img [src]="storageURL + upload.iconURL"class=" rounded file-upload-image">
                  <figcaption class="figure-caption file-upload-text"><a href="" (click)="$event.preventDefault();">{{upload.fileName}}</a></figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-------------------------------------------RIGHT COLUMN (CHAT BOX) STARTS--------------------------------------------->
  <!--  <div class="col-md-9 chat-column">
      <div class="card h-100">
        <div
             #chatScroll
             class="card-block chat-body"
             infinite-scroll
             [infiniteScrollDistance]="0.99"
             [infiniteScrollUpDistance]="0.022"
             [infiniteScrollThrottle]="10"
             [scrollWindow]="false"
             (scrolledUp)="onScrolledUp()">
          <ng-container *ngIf="messages?.data[0]?.currentUserID == messages?.data[0]?.builderID; else isSubcontractor">
           <h6 class="card-title center hidden-sm-up">{{messages?.data[0]?.sci_company}} - {{messages?.data[0]?.projectAddress}} {{messages?.data[0]?.projectAddress2 ? messages?.data[0]?.projectAddress2 : ''}}</h6>
            <h4 class="card-title center hidden-sm-down">{{messages?.data[0]?.sci_company}} - {{messages?.data[0]?.projectAddress}} {{messages?.data[0]?.projectAddress2 ? messages?.data[0]?.projectAddress2 : ''}}</h4>
          </ng-container>
          <ng-template #isSubcontractor>
            <h6 class="card-title center hidden-sm-up">{{messages?.data[0]?.bci_company}} - {{messages?.data[0]?.projectAddress}} {{messages?.data[0]?.projectAddress2 ? messages?.data[0]?.projectAddress2 : ''}}</h6>
            <h4 class="card-title center hidden-sm-down">{{messages?.data[0]?.bci_company}} - {{messages?.data[0]?.projectAddress}} {{messages?.data[0]?.projectAddress2 ? messages?.data[0]?.projectAddress2 : ''}}</h4>
          </ng-template>
          <hr/>
          <ng-container *ngIf="loading">
            <div class="d-flex justify-content-center">
              <i class="fa fa-2x fa-spinner fa-pulse" aria-hidden="true"></i>
            </div>
          </ng-container>
          <div  class="chat-area" *ngIf="messages?.data[0]?.message">
          <div [class]=" msg.currentUserID == msg.sentByID ? 'answer right' : 'answer left'" *ngFor="let msg of messages?.data">
          <div class="avatar">
            <ng-container *ngIf="messages?.data[0]?.currentUserID == messages?.data[0]?.sentByID; else isSubcontractor">
              <img class="avatarImg" [src]="storageURL + msg.currentUserLogoURL" alt="404">
            </ng-container>
           <ng-template #isSubcontractor>
             <img class="avatarImg" [src]="storageURL + msg.otherUserLogoURL" alt="404">
           </ng-template>
          </div>
          <ng-container *ngIf="msg.currentUserID == msg.builderID"><div class="name">{{msg.sci_company}}</div></ng-container>
          <ng-container *ngIf="msg.currentUserID == msg.scID"><div class="name">{{msg.bci_company}}</div></ng-container>
          <div class="text">
            {{msg.message}}
          </div>
          <div class="time">{{msg.created_at | amTimeAgo}}</div>
        </div>
        </div>
      </div>
        <div class="card-footer">
          <form  [formGroup]="newMessageForm">

          <div class="row">
          <div class="col-9">
            <textarea #message type="text" id="message" name="message" formControlName="message" class="form-control" autosize rows="1" [maxHeight]="75" [attr.maxlength]="CHAT_MAX_LENGTH" placeholder="Enter message here"></textarea>
              <div *ngIf="newMessageForm.controls['message'].invalid && submitAttempt" class="validation">
                <p>Message cannot be empty</p>
              </div>
            <small *ngIf="message.value.length > 450" class="float-right pt-1" style="color: red;">{{message.value.length}} / {{CHAT_MAX_LENGTH}}</small>

          </div>
          <div class="col-3 justify-content-end d-flex">
            <i class="fa fa-paperclip fa-1x hidden-sm-up mr-2" aria-hidden="true" (click)="uploadInput.click()"></i>
            <i class="fa fa-paperclip fa-2x hidden-sm-down mr-3" aria-hidden="true" (click)="uploadInput.click()"></i>
            <i class="fa fa-paper-plane fa-1x hidden-sm-up" aria-hidden="true" (click)="onSendMessage(newMessageForm.value)"></i>
            <i class="fa fa-paper-plane fa-2x hidden-sm-down" aria-hidden="true" (click)="onSendMessage(newMessageForm.value)"></i>
            <input #uploadInput type="file" (change)="onChooseFile($event)" hidden>
          </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


 -->
