
.card-footer {
  background: none !important;
}

/*.chat-scroll {

  !*overflow: scroll;*!
  overflow-y: scroll;
  flex:none;
}

.chat-body {

  font-family: "Raleway", sans-serif;
}*/

.uploads-column {
  height: 75vh;
  max-height: 75vh;
  overflow: scroll !important;
}

.chat-column {
  height: 75vh;
  max-height: 75vh;
}
.chat-body {
  /*height: 76vh;*/
  /*max-height: 70vh;*/
  max-height: 75vh;
  overflow-y: scroll !important;
  font-family: "Raleway", sans-serif;

}

.fa-paperclip {
  color: silver;
}

.fa-paper-plane {
  color: green;
}

.chat-area {
  max-height: 70vh;

}

.file-uploads {
  overflow-y: scroll !important;
}

.chat-body h6 {
  font-size: 12px;
  margin: 0 0 20px;
}

.chat-body .answer {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  clear: both;
}
.chat-body .answer.left .avatar {
  left: 0;
}
.chat-body .answer .avatar {
  bottom: 36px;
}

.chat-body .answer .name {
  font-size: 1.2vmin;
  line-height: 7.5vmin !important;
}
.chat-body .answer.left .avatar .status {
  right: 4px;
}
.chat-body .answer .avatar .status {
  bottom: 0;
}
.chat-body .answer.left .text {
  background: #ebebeb;
  color: #333333;
  border-radius: 8px 8px 8px 0;
}
.chat-body .answer .text {
  padding: 12px;
  font-size: 12px;
  line-height: 26px;
  position: relative;
}
.chat-body .answer.left .text:before {
  left: -30px;
  border-right-color: #ebebeb;
  border-right-width: 12px;
}
.chat-body .answer .text:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  border: 18px solid transparent;
  border-bottom-width: 0;
}
.chat-body .answer.left .time {
  padding-left: 10px;
  color: #333333;
}
.chat-body .answer .time {
  font-size: 1.2vmin;
  line-height: 36px;
  position: relative;
  padding-bottom: 1px;
}
/*RIGHT*/
.chat-body .answer.right {
  padding: 0 130px 0 0;
  text-align: right;
  float: right;
}

.chat-body .answer.right .avatar {
  right: 0;
}
.chat-body .answer.right .avatar .status {
  left: 4px;
}
.chat-body .answer.right .text {
  background: #7266ba;
  color: #ffffff;
  border-radius: 8px 8px 0 8px;
}
.chat-body .answer.right .text:before {
  right: -30px;
  border-left-color: #7266ba;
  border-left-width: 12px;
}
.chat-body .answer.right .time {
  padding-right: 12px;
  color: #333333;
}

textarea {
  overflow-y: scroll !important;
}


@media (max-width: 575px) {

  .file-upload-text {
    font-size: 2vmin;
    word-wrap: break-word;
    text-align: center !important;
    /*white-space: normal !important;*/
  }

  .file-upload-image {
    text-align: center !important;
    max-width:  8vmin;
    max-height: 8vmin;
    margin-bottom: 0.5vmin;
  }

  .chat-body .answer {
    position: relative;
    max-width: 300px;
    overflow: hidden;
    clear: both;
  }

  .chat-body .answer .time {
    font-size: 10px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
  }

  .chat-body .answer .name {
    font-size: 1.2vmin;
    line-height: 36px;
  }

  .chat-body .answer .text {
    padding: 12px;
    font-size: 12px;
    line-height: 26px;
    position: relative;
  }

  .chat-body .answer.left {
    padding: 0 0 0 40px;
    text-align: left;
    float: left;
  }

  .chat-body .avatar {
    width: 30px;
    height: 30px;
    position: absolute;
  }

  .avatarImg {
    max-width: 30px !important;
    max-height: 30px !important;
    position: absolute;
  }

  .chat-body .avatar img {
    display: block;
    border-radius: 15px;
    height: 100%;
  }

  /*RIGHT*/
  .chat-body .answer.right {
    padding: 0 40px 0 0;
    text-align: right;
    float: right;
  }
}



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .file-upload-text {
    font-size: 1.5vmin;
    word-wrap: break-word;
    text-align: center !important;
    /*white-space: normal !important;*/
  }

  .file-upload-image {
    text-align: center !important;
    max-width:  6vmin;
    max-height: 6vmin;
    margin-bottom: 0.7vmin;

  }

  .avatarImg {
    max-width: 100px !important;
    max-height: 100px !important;
    position: absolute;
  }

  .chat-body .avatar img {
    display: block;
    border-radius: 15px;
    height: 100%;
  }

  .chat-body .answer.left {
    padding: 0 0 0 120px;
    text-align: left;
    float: left;
  }

  /*RIGHT*/
  .chat-body .answer.right {
    padding: 0 120px 0 0;
    text-align: right;
    float: right;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .file-upload-text {
    font-size: 1.5vmin;
    word-wrap: break-word !important;
    text-align: center !important;
  }

  .file-upload-image {
    text-align: center !important;
    max-width:  9vmin;
    max-height: 9vmin;
    margin-bottom: 1.8vmin;

  }

  .chat-body .answer.left {
    padding: 0 0 0 150px;
    text-align: left;
    float: left;
  }

  .chat-body .avatar {
    min-width: 110px !important;
    min-height: 110px !important;
    position: absolute;
  }

  .avatarImg {
    max-width: 110px !important;
    max-height: 110px !important;
    position: absolute;
  }

  .chat-body .avatar img {
    display: block;
    border-radius: 15px;
    height: 100%;
  }

  /*RIGHT*/
  .chat-body .answer.right {
    padding: 0 150px 0 0;
    text-align: right;
    float: right;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

