.row {
  -webkit-flex-direction: row;  /* Safari */
  flex-direction:  row;
}

.inputLabels {
  margin-bottom: .5rem !important;
}



@media screen and (min-width: 769px) {
  .imgSlider { width: 600px; margin: 0 auto; }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .imgSlider { width: 400px; margin: 0 auto; }
}

@media only screen and (max-device-width: 480px) {
  .imgSlider { width: 200px; margin: 0 auto; }
}

img.no-resize {
  height: 255px;
  width:  255px;
}

img.logo-no-resize {
  height: 150px;
  width:  350px;
}

.btnProfile {
  float: right !important;
}

img.img-background {
  height: 500px;
  width: 90%;
}
.red p{
 color: red; 
}