<div class="app" [ngClass]="
{
    'is-collapsed': app.layout.isMenuCollapsed,
    'is-opened': !app.layout.isMenuCollapsed,
    'rtl' : app.layout.rtlActived
}">
    <div class="layout" [ngClass]="headerSelected">

        <div [ngClass]="sidenavSelected">
            <!-- Side Nav START -->
            <div class="side-nav" sideBar>
                <div class="side-nav-inner">
                    <div class="side-nav-logo">
                        <a href="" [routerLink]="['/dashboard']" (click)="setActivateClass('dashboard')">
                            <img class="logo logo-dark" src="./assets/images/bcbuilderlogo/svg/full-logo.svg" />
                            <img class="logo logo-white" src="./assets/images/bcbuilderlogo/svg/full-logo.svg" />
                        </a>
                        <div class="mobile-toggle side-nav-toggle">
                          <a href="javascript:void(0);" (click)="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed">
                              <i class="ti-arrow-circle-left"></i>
                          </a>
                        </div>
                    </div>
                    <div class="profile-logo text-center">
                        <img *ngIf="profileInfo" class="profile-logo-img img-fluid" [src]='profileStorageURL+profileInfo.logoURL'>
                        <img *ngIf="!profileInfo" class="profile-logo-img img-fluid" [src]='profileStorageURL+"assets/images/no-image-found.png"'>
                        <div class="user-info" *ngIf="profileInfo">
                            <span class="name pdd-right-5">{{ profileInfo.company }}</span>
                        </div>
                    </div>
                    <ul class="side-nav-menu scrollable">

                        <!-- <li class="nav-item dropdown">
                            <a class="dropdown-toggle margin-top-10" href="javascript:void(0);">
                              <span class="icon-holder">
                                  <i class="ti-file"></i>
                              </span>
                              <span class="title">Projects</span>
                              <span class="arrow">
                                  <i class="ti-angle-right"></i>
                              </span>
                            </a>
                            <ul class="dropdown-menu">
                              <ng-container *ngFor="let project of projects?.data;">
                                <li class="nav-item-pop"  [ngClass]="{'activate': activateClass === 'project-'+ project.id}">
                                    <a href="" [routerLink]="['/', 'projects', project.id, 'project-details']" (click)="setActivateClass('project-'+project.id)">{{project.address}}</a>
                                </li>
                              </ng-container>
                            </ul>
                        </li> -->
                        <li class="nav-item" routerLinkActive="active"  [ngClass]="{'activate': activateClass === 'dashboard'}">
                          <a href="" [routerLink]="['/dashboard']" (click)="setActivateClass('dashboard')">
                              <span class="icon-holder">
                                  <i class="ti-map-alt"></i>
                              </span>
                              <span class="title">Dashboard</span>
                          </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" [ngClass]="{'activate': activateClass === 'map'}">
                            <a href="" [routerLink]="['/maps/google-map']" (click)="setActivateClass('map')">
                                <span class="icon-holder">
                                    <i class="ti-map-alt"></i>
                                </span>
                                <span class="title">Builders Map</span>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" [ngClass]="{'activate': activateClass === 'profile'}">
                            <a href="" [routerLink]="['/profile']" (click)="setActivateClass('profile')">
                                <span class="icon-holder">
                                    <i class="ti-user"></i>
                                </span>
                                <span class="title">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" [ngClass]="{'activate': activateClass === 'newsfeed'}">
                            <a class="dropdown-toggle" href="" [routerLink]="['/newsfeed']" (click)="setActivateClass('newsfeed')">
                                <span class="icon-holder">
                                    <i class="ti-layout-media-overlay"></i>
                                </span>
                                <span class="title">News Feed</span>

                            </a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="ti-file"></i>
                                </span>
                                <span class="title">Forms</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item-pop" [ngClass]="{'activate': activateClass === 'form-elements'}">
                                    <a href="" [routerLink]="['/forms/form-elements']" (click)="setActivateClass('form-elements')">Form Elements</a>
                                </li>
                                <li class="nav-item-pop" [ngClass]="{'activate': activateClass === 'form-layouts'}">
                                    <a href="" [routerLink]="['/forms/form-layouts']" (click)="setActivateClass('form-layouts')">Form Layouts</a>
                                </li>
                                <li class="nav-item-pop" [ngClass]="{'activate': activateClass === 'form-wizard'}">
                                    <a href="" [routerLink]="['/forms/form-wizard']" (click)="setActivateClass('form-wizard')">Form Wizard</a>
                                </li>
                            </ul>
                        </li> -->

                        <li class="nav-item" routerLinkActive="active" [ngClass]="{'activate': activateClass === 'startproject'}">
                            <ng-container *ngxPermissionsOnly="['builder']">
                                <a class="cursor" (click)="openNewProjectModal()">
                                    <span class="icon-holder">
                                        <i class="ti-layout-media-overlay"></i>
                                    </span>
                                    <span class="purple-title">Start New Project</span>
                                </a>
                            </ng-container>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Side Nav END -->
